<div class="modal fade " id="exampleModal">

  <div class="header">
    <div class="head">
      <div class="comment-label">Comments</div>
      <img class="cross" src="../../../../assets/icons/Close.svg" data-bs-dismiss="modal" />
    </div>
    <div class="line-head"></div>
  </div>

  <div class="body">
    <div class="date-body">
      <div class="line-date"></div>
      <div class="date">
        <img class="cal" src="../../../../assets/icons/calender.svg"/>
        05-11-2024
      </div>
      <div class="line-date"></div>
    </div>

    <div class="upper-comment">
      <app-single-comment></app-single-comment>
      <app-single-comment></app-single-comment>
      <app-single-comment></app-single-comment>
      <app-single-comment></app-single-comment>
      <app-single-comment></app-single-comment>
      <app-single-comment></app-single-comment>
      <app-single-comment></app-single-comment>
    </div>
  </div>

  <div class="input-comment">
      <input type="text" class="cbox" placeholder="Add Comment..." />
      <button class="submit-button">Save</button>
  </div>


  <div class="modal-dialog">

    <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>-->
  </div>
</div>
