<div class="outer-box">
  <div class="heading-text">
    Add New Brand
  </div>
  
  <form class="device-form" (ngSubmit)="onSubmit()" [formGroup]="deviceForm">
    <div class="form-field" >
      <label class="label" for="deviceName">Brand Name<span class="required">*</span></label>
      <input type="text" id="deviceName" class="input-field" placeholder="Enter Brand Name" formControlName="brand" (input)="updateBrand($event)" required>
      <span *ngIf="showErrorMessage==true" class="error-message">
      {{errorMessage}}
      </span>
    </div>






    <div class="add-button">

      <button type="submit"><span>Add</span></button>
    </div>

  </form>
</div>
