
.alert-box {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.25rem;
  background: #FFE8E8;
}

.alert-image-frame {
  display: flex;
  height: 1rem;
  justify-content: center;
  align-items: center;
}

.alert-image {
  width: 0.75rem;
  height: 0.75rem;
  fill: #CC1A07;
}

.alert-box-msg {
  color: #CC1A07;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;  
}
.exit-process-text{
    color:red !important;
}
.modal-body{
    padding:1rem 1.5rem;
}
.modal-title {
  color: #1E1E1E;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;  
}
.modal-header{
    padding:1rem 1.5rem 0.25rem 1.5rem;
}
.close-button {
  border: none;
  background-color: white;
}
.user-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  margin:1rem 0rem;
}
.user-name {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.user-id {
  color: var(--Adhoc-text-gray, #6D6D6D);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.details-subheading {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom:0.5rem;
}
.details {
  display: flex;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Light-Blue, #B8DDE1);
  background: #F5F8FE;
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin:0.5rem 0rem 1rem 0rem;
}

.device-model {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display:flex;
}
.details-icon {
  width: 1rem;
  height: 1rem;
}
.details-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0.2rem 0rem 0rem 1rem;
}
.same-row-details{
    display:flex;
    flex-direction:row;
}
.device-model-same-row{
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding:0rem 12rem 0rem 0rem;
}
.accessories-model {
  display: flex;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: var(--Primary-White, #FFF);
  margin-bottom:1rem;
}
.accessories-model-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
.accessories-details-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0.5rem 0rem;
}
.alert-box-bottom {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;  
  border-radius: 0.25rem;
  background: #BFE6FB;
}

.btn-initiate {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--Primary-Blue, #28519E);
  color: #FFF;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.btn-cancel{
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #28519E;
  color: var(--Primary-Blue, #28519E);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer{
    display:flex;
    align-items:flex-end;
    margin: 1rem 0rem 0rem 18rem;
    gap:1rem;
}

.img{
    display:none;
}
