<div class="modal fade" id="exitProcessModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content assign-asset-modal-outer-box">
      <div class="modal-header assign-asset-modal-header">
        <h1 class="modal-title assign-asset-modal-title fs-5" id="assignAssetModal">Assign Assets</h1>
        <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close" (click)="closeForm()"><img src="../../../../assets/icons/Close.svg" /></button>
      </div>
      <div class="modal-body">
        <div class="alert-box">
          <div class="alert-image-frame">
            <img id="alert-image" src="../../../../assets/icons/Vector.svg" />
          </div>
          <div class="alert-box-msg">
            You are initiating the exit process
          </div>
          <div  class="device-details">
            <div class="details-subheading">
              Selected Device Configuration:
            </div>
            <div class="details">
              <div class="device-model">
                <div class="details-icon"></div>
                <div class="details-text"></div>
              </div>
              <div class="device-model">
                <div class="details-icon"></div>
                <div class="details-text"></div>
              </div>
              <div class="device-model-same-row">
                <div class="same-row-detail">
                  <div class="details-icon"></div>
                  <div class="details-text"></div>
                </div>
                <div class="same-row-detail">
                  <div class="details-icon"></div>
                  <div class="details-text"></div>
                </div>
                <div class="same-row-detail">
                  <div class="details-icon"></div>
                  <div class="details-text"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        
      </div>
      </div>
</div>
</div>
