<div class="modal fade " id="filterModal">
  <div class="filtersection">
    <div class="tab">
      <div class="filtertab">
        <img src="../../../assets/icons/Software/Filter-black.svg" />
        <div class="filtertext">Filter</div>
        <img src="../../../assets/icons/Close.svg"  style="margin-left:14rem;" data-bs-dismiss="modal"/>
      </div>
    </div>

  </div>
  <div class="criteria">
    <div class="criteria-text">
      <span class="text">Refine the assets by implementing specific criteria.</span>
    </div>
    <div class="dropdown-div">
      <div class="dropdown-content">
     
      </div>
    </div>
  </div>
  <div class="cancle-apply ">
    <button class="cancel-button "><span>Cancel</span></button>
    <button type="button" class="btn btn-primary apply">Apply</button>

  </div>
 



  <div class="modal-dialog">
 </div>


</div>
