.software-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex-shrink: 0;
  align-self: stretch;
  max-height: 33.4375rem;
 
  position: relative;
  width:100%;
  overflow-y: scroll;
}

.expiry {
  display: flex;
  align-items: center;
  gap: 1rem;
}
  .expiry p {
    margin-bottom: 0;
  }


.inner-software-container {
  position: relative;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.device-tag {
  padding: 0.45rem 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0rem 0.25rem;
  background: #ffb81c;
  box-sizing: content-box;
 
}

.device-tag-info {
  color: #002c3f;
  font-family: roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.software-revoke-button {
  position: absolute;
  margin-right: 0.5rem;
  right: 0;
}

.user-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  height: auto;
  width: 100%;
  margin-top: 1.7rem;
}

.user-data {
  display: flex;
  width: 100%;
}

.user-software {
  display: flex;
  flex-direction: row;
}

.common-gap-style {
  gap: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.software-name-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

  .software-name-container img {
    width: 16px;
    height: 16px;
    cursor: pointer;
    fill: #002c3f;
    stroke: #002c3f;
  }


