<div class="stepper-container">
  <div class="stepper-stepper">
    <div class="stepper-stepper1">
      <img src="/laptopsolidi130-qwo.svg"
           alt="laptopsolidI130"
           class="stepper-laptopsolid" />
      <span class="stepper-text"><span>Laptop Details</span></span>
    </div>
    <img src="/vector16stroke1308-1q5e.svg"
         alt="Vector16Stroke1308"
         class="stepper-vector16-stroke" />
    <div class="stepper-stepper2">
      <img src="/serialnumberi130-8his.svg"
           alt="serialNumberI130"
           class="stepper-serial-number" />
      <span class="stepper-text2"><span>Serial No. Details</span></span>
    </div>
  </div>
</div>
