
<div class="add-device-container">

  <div class="add-device-header">
    <span>Add Laptop</span>
  </div>
  
  <div class="add-device-content overflow-auto">
    <div class="stepper-container">
      <div class="stepper-stepper">
        <div class="stepper-stepper1">

          <img *ngIf="currentStep === 1" src="../../../assets/icons/laptop-solid.svg" />
          <img *ngIf="currentStep === 2" src="../../../assets/icons/completed.svg" />
          <span class="stepper-text"><span>Laptop Details</span></span>
        </div>
        <img src="../../../assets/icons/Vector 16 (Stroke).svg" />
        <div class="stepper-stepper2">
          <img *ngIf="currentStep === 1" src="../../../assets/icons/serial Number.svg" />
          <img *ngIf="currentStep === 2" src="../../../assets/icons/laptop-solid-2.svg" />
          <span class="stepper-text2"><span>Serial No. Details</span></span>
        </div>
      </div>
    </div>

    <form>
      <div *ngIf="currentStep === 1">
        <div class="os-radio-button">
          <label class="os-label">Operating System <span class="required">*</span></label>
          <div class="os-input">
            <!--<div class="window-input">-->
              <input type="radio" name="osType" id="windowsRadio" value="Windows"  [(ngModel)]="selectedOS" (change)="loadDropdownValues()">
              <label for="windowsRadio">Windows</label>
            <!--</div>
            <div class="mac-input">-->
              <input type="radio" name="osType" id="macRadio" value="Mac"  [(ngModel)]="selectedOS" (change)="loadDropdownValues()">
              <label for="macRadio">Mac</label>
            <!--</div>-->
          </div>
        </div>

        <div class="device-model-input" [formGroup]="addDeviceForm">
          <div class="device-model-select">
            <div class="select-device-dropdown">
              <label for="deviceName">Device Name <span class="required">*</span></label>
              <select formControlName="deviceModelId">
                <option value="" selected class="placeholder">Select Device Name</option>
                <option *ngFor="let value of dropdownValues" [value]="value.id" >
                  {{ value.deviceName }}
                </option>
              </select>
            </div>
            <div class="quantity-select">
              <label for="quantity">Quantity</label>
              <div class="quantity-counter">
                <div class="reduce-button" (click)="decrement()"><img src="../../../assets/icons/reduce-quantity.svg" /></div>
                <span class="counter-value">{{ counterValue }}</span>
                <div class="add-button" (click)="increment()"><img src="../../../assets/icons/add-quantity.svg" /></div>
              </div>
            </div>
          </div>
          <div class="add-device-check">
            <input class="form-check-input" type="checkbox" id="addDetailsCheckbox" (change)="toggleDeviceDetailsForm()">
            <label class="form-check-label" for="addDetailsCheckbox">Add New Device Details</label>
          </div>
          <div class="mb-3" *ngIf="showDeviceDetailsForm">
            <app-add-device-model [selectedOS]="selectedOS"></app-add-device-model>
          </div>
        </div>


        <div class="row mb-3" id="deviceDetailsDiv" [formGroup]="addDeviceForm">
          <div class="col-6">
            <label for="purchaseDate" class="purchaseDate">Date of Purchase <span class="required">*</span></label>
            <input type="date" class="form-control" id="purchaseDate" name="purchaseDate" formControlName="purchasedOn">
          </div>
          <div class="col-6">
            <div class="row warranty">
              <label>Warranty Year <span class="required">*</span></label>
              <div class="col-6 warranty-input">
                <input type="number" class="form-control" id="warrantyMonth" name="warrantyYear" placeholder="Month" (change)="setWarrantyMonth($event)">
                <input type="number" class="form-control" id="warrantyYear" name="warrantyYear" placeholder="Year" (change)="setWarrantyYear($event)">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="currentStep === 2" class="app-id-input container-fluid">
        <div *ngFor="let ele of counterValues; let i = index" class="row">

          <div class="outer-input row">
            <div class="serial-number-input col-6">
              <label for="serialNumber">Serial Number<span class="required">*</span></label>
              <input type="text" id="serialNumber" name="serialNumber" (input)="updateSerialNumber(i, $event)"/>
            </div>
            <div class="cyg-id-input col-6">
              <label for="cygId">CYG ID.<span class="required">*</span></label>
              <input type="text" id="cygId" name="cygId" (input)="updateCygId(i, $event)"/>
            </div>
          </div>


        </div>
      </div>
    </form>
  </div>

  <div [ngClass]="{'add-device-footer1': currentStep === 1, 'add-device-footer2': currentStep === 2}">
    <button *ngIf="currentStep === 2" class="previous-btn" (click)="previous()"><span>Previous</span></button>
    
    <div class="save-device-button">
      <button class="cancel-button" type="reset"><span>Cancel</span></button>
      <button *ngIf="currentStep === 1" type="button" class="next-button" (click)="next()"><span>Next</span></button>
      <button *ngIf="currentStep === 2" class="submit-button-layout" type="submit"  (click)="onSubmit()"><span>Submit</span></button>
    </div>
  </div>
</div>






