.add-device-container {
  display: flex;
  height: 42.5625rem;
  padding-right: 1rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  flex: 1 0 0;
}

.required {
  color: var(--Other-Red, #E03E2D);
}

.add-device-header {
  align-self: stretch;
}

.add-device-header span {
  color: #343435;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.add-device-content {
  display: flex;
  height: 34.6875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  flex-shrink: 0;
  align-self: stretch;
}


:host {
  display: contents;
}

.stepper-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stepper-stepper {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(233, 236, 235, 1);
  border-style: solid;
  border-width: 1.0680030584335327px;
  border-radius: 4.272012233734131px;
  justify-content: center;
  background-color: rgba(249, 249, 249, 1);
}

.stepper-stepper1 {
  gap: 4.272012233734131px;
  height: 51.26414489746094px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.stepper-laptopsolid {
  width: 24px;
  height: 24px;
}

.stepper-text {
  color: var(--dl-color-primary-gray);
  height: auto;
  font-size: 14px;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.stepper-vector16-stroke {
  width: 131px;
  height: 1px;
}

.stepper-stepper2 {
  gap: 4.272012233734131px;
  height: 51.26414489746094px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.stepper-serial-number {
  width: 24px;
  height: 24px;
}

.stepper-text2 {
  color: var(--dl-color-secondary-gray);
  height: auto;
  font-size: 14px;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.os-radio-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  align-self: stretch;
  margin-bottom: 1.25rem;
}

.os-label {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.os-input {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.os-input input {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.os-input label {
  position: relative;
  padding-top: 1px;
  padding-left: 25px;
  padding-bottom: 10px;
  cursor: pointer;
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.os-input input[type="radio"] {
    display: none;
  }

.os-input label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/icons/Component 2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.os-input input[type="radio"]:checked + label::before {
  background-image: url('../../../assets/icons/Component 2_checked.svg');
}


.device-model-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  margin-bottom: 1.25rem;
}

.device-model-select {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
}

.select-device-dropdown {
  display: flex;
  width: 23.4375rem;
  height: 3.8125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
}

  .select-device-dropdown label, .select-device-dropdown placeholder {
    color: var(--Primary-Gray, #343435);
    font-family: Roboto;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .select-device-dropdown select {
    display: flex;
    width: 23.4375rem;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 6.625rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid var(--Secondary-Gray, #B2B2B3);
    background: #FFF;
  }

  .select-device-dropdown placeholder{
      opacity: 0.5;
  }

.add-device-check {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.add-device-check label {
  color: var(--Primary-Blue, #28519E);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* counter */
.quantity-counter {
  display: flex;
  width: 8.625rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  border-top: 1px solid var(--Primary-Blue, #28519E);
  border-bottom: 1px solid var(--Primary-Blue, #28519E);
  background: #FFF;
  height: 2.52rem;
}

.reduce-button img {
  height: 2.62rem;
  fill: var(--Primary-White, #FFF);
  stroke-width: 1px;
  stroke: var(--Primary-Blue, #28519E);
}

.add-button img {
  height: 2.62rem;
  fill: var(--Primary-White, #FFF);
  stroke-width: 1px;
  stroke: var(--Primary-Blue, #28519E);
}

.add-device-footer2 {
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  
}

.add-device-footer1 {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  
}

.previous-btn {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #28519E;
}

.previous-btn:active {
  border-style: none;
}

.previous-btn span, .cancel-button span {
  color: var(--Primary-Blue, #28519E);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cancel-button {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #28519E;
}

..cancel-button:active {
  border-style: none;
}

.button-layout {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #28519E;
  background-color: white;
}

 .button-layout:active {
    border-style: none;
  }

.submit-button-layout {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--Primary-Blue, #28519E);
  border: none;
}

  .submit-button-layout:active {
    border-style: none;
  }


  .cancel-button span {
    color: var(--Primary-Blue, #28519E);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

.next-button {
  display: flex;
  width: 5.75rem !important;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--Primary-Blue, #28519E);
  border: none;
}

  .next-button span, .submit-button-layout span {
    color: #FFF;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .next-button:active {
    border-style: none;
  }

.serial-number {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
  align-self: stretch;
}

.save-device-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  
}

form{
    width:100%;
    overflow-x:hidden;
}

.quantity-select label, .warranty label {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.purchaseDate {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.warranty{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;
}

.warranty-input {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  width:100%;
}

  .warranty-input input {
    display: flex;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 6.625rem;
    flex: 1 0 0;
    border-radius: 0.25rem;
    border: 1px solid var(--Secondary-Gray, #B2B2B3);
    background: #FFF;
  }


.outer-input {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem !important;
  align-self: stretch;
  width: 103%;
  margin-left: -2% !important;
  margin-top: 1.25rem;
}

.serial-number-input {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;
  width: 100%;
}

  .serial-number-input input, .cyg-id-input input {
    display: flex;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 6.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid var(--Secondary-Gray, #B2B2B3);
    background: #FFF;
    width: 100%;
  }



.outer-input label {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
