
<div class="add-device-container">

  <div class="add-device-header">
    <span>Add Laptop</span>
  </div>

  <div class="add-device-content overflow-auto">
    <div class="stepper-container">
      <div class="stepper-stepper">
        <div class="stepper-stepper1">

          <img *ngIf="currentStep === 1" src="../../../assets/icons/laptop-solid.svg" />
          <img *ngIf="currentStep === 2 || currentStep===3" src="../../../assets/icons/completed.svg" />
          <span class="stepper-text"><span>Laptop Details</span></span>
        </div>
        <img src="../../../assets/icons/Vector 16 (Stroke).svg" />
        <div class="stepper-stepper2">
          <img *ngIf="currentStep === 1" src="../../../assets/icons/serial Number.svg" />
          <img *ngIf="currentStep === 2" src="../../../assets/icons/laptop-solid-2.svg" />
          <span class="stepper-text2"><span>Serial No. Details</span></span>
        </div>
      </div>
    </div>


    <form>
      <div *ngIf="currentStep === 1">
        <div *ngIf="showErrorMessage" class="error-alert-box1">
          <div class="error-alert-icon">
            <img src="../../../assets/icons/info-icon.svg" />
          </div>
          <div class="error-alert-message">
            <span>Highlighted field(s) are mandatory and cannot be blank.</span>
          </div>
        </div>
        <div class="os-radio-button">
          <label class="os-label">Operating System <span class="required">*</span></label>
          <div class="os-input">
            <!--<div class="window-input">-->
            <input type="radio" name="osType" id="windowsRadio" value="Windows" [(ngModel)]="selectedOS" (change)="loadDropdownValues()">
            <label for="windowsRadio">Windows</label>
            <!--</div>
      <div class="mac-input">-->
            <input type="radio" name="osType" id="macRadio" value="Mac" [(ngModel)]="selectedOS" (change)="loadDropdownValues()">
            <label for="macRadio">Mac</label>
            <!--</div>-->
          </div>
        </div>

        <div class="device-model-input" [formGroup]="addDeviceForm">
          <div class="device-model-select">
            <div class="select-device-dropdown">
              <label for="deviceName">Device Name <span class="required">*</span></label>
              <ng-select formControlName="deviceModelId" placeholder="Select Device Name" [class.disabled]="selectedOS == ''" [class.error-textarea]="showErrorMessage && !addDeviceForm.get('deviceModelId')?.value"(change)="checkShowErrorMessage()">
                <!--<option value="" selected class="placeholder">Select Device Name</option>-->
                <ng-option *ngFor="let value of dropdownValues" [value]="value.id">
                  {{ value.deviceName }}
                </ng-option>
              </ng-select>
            </div>

          </div>
          <div class="add-device-check" [class.disabled]="selectedOS == ''">
            <input class="form-check-input" type="checkbox" id="addDetailsCheckbox" (change)="toggleDeviceDetailsForm()">

            <label class="form-check-label" for="addDetailsCheckbox">
              <img *ngIf="showDeviceDetailsForm == false" src="../../../assets/icons/checkbox-unchecked.svg" />
              <img *ngIf="showDeviceDetailsForm == true" src="../../../assets/icons/checkbox-checked.svg" />
              <span>Add New Device Details</span>
            </label>
          </div>
          <div class="mb-3" *ngIf="showDeviceDetailsForm">
            <app-add-device-model [selectedOS]="selectedOS" (formSubmitted)="onFormSubmitted()"></app-add-device-model>
          </div>
        </div>
        <div class="qtydate">
          <div class="purchase-date-section" >
            <label for="purchaseDate" class="purchaseDate">Date of Purchase <span class="required">*</span></label>
            <div class="date-input-container" [class.error-textarea]="showErrorMessage && !addDeviceForm.get('purchasedOn')?.value" (input)="checkShowError()">
              <input type="date" class="form-control" id="purchaseDate" name="purchaseDate" (input)="setPurchaseDate($event)" placeholder="15-12-2023" [class.disabled]="selectedOS == ''">
              <img src="../../../assets/icons/calendar.svg" [class.disabled]="selectedOS == ''" />
            </div>
          </div>

          <div class="quantity-select">
            <label for="quantity">Quantity <span class="required">*</span></label>
            <div  [class.error-textare]="counterValue === 0 && showErrorMessage">
              <div class="quantity-counter" [class.disabled]="selectedOS == ''" >
                <div class="reduce-button" (click)="decrement(); hideErrorMessage()"><img src="../../../assets/icons/reduce-quantity.svg" /></div>
                <span class="counter-value">{{ counterValue }}</span>
                <div class="add-button" (click)="increment();hideErrorMessage()"><img src="../../../assets/icons/add-quantity.svg" /></div>
              </div>
            </div>
          </div>
        </div>
        <div class="add-device-date mb-3" id="deviceDetailsDiv" [formGroup]="addDeviceForm">

          <div class="warranty-date-section">

            <label>Warranty Year <span class="required">*</span></label>
            <div class="warranty-input" >
              <div [class.error-textarea]="showErrorMessage && !addDeviceForm.get('warrantyMonth')?.value" class="month" > 
                <input type="number" class="form-control" id="warrantyMonth" name="warrantyYear" placeholder="Month" (blur)="setWarrantyMonth($event)" [class.disabled]="selectedOS == ''">
              </div>
              <div [class.error-textarea]="showErrorMessage && !addDeviceForm.get('warrantyYear')?.value" class="month">
                <input type="number" class="form-control" id="warrantyYear" name="warrantyYear" placeholder="Year" (blur)="setWarrantyYear($event)" [class.disabled]="selectedOS == ''">
              </div>
            </div>

          </div>
        </div>
      </div>
      <div *ngIf="currentStep === 2" class="app-id-input custom-container">

        <div *ngIf="showErrorMessage" class="error-alert-box">
          <div class="error-alert-icon">
            <img src="../../../assets/icons/info-icon.svg" />
          </div>
          <div class="error-alert-message">
            <span>Highlighted field(s) are mandatory and cannot be blank.</span>
          </div>
        </div>

        <div *ngFor="let ele of counterValues; let i = index" class="outer-input">
          <span class="sno">{{ ele }}.</span>
          <div class="error">
            <div class="serial-number-input">
              <label for="serialNumber">Serial Number<span class="required">*</span></label>
              <div [class.error-textarea]="showErrorMessage && !serialNumbers.controls[i].value" class="cyg-id">
                <input type="text" id="serialNumber" name="serialNumber" (input)="updateSerialNumber(i, $event)" placeholder="Enter Serial No." />
              </div>
              <span class="error_text">
                <img src="../../../assets/icons/error.svg" />
                This serial number already exists.
              </span>
            </div>
          </div>
          <div class="cyg-id-input">
            <label for="cygId">CYG ID.<span class="required">*</span></label>
            <div [class.error-textarea]="showErrorMessage && !cygIds.controls[i].value" class="cyg-idd">
              <input type="text" id="cygId" name="cygId" (input)="updateCygId(i, $event)" placeholder="Enter CYG ID" />
            </div>
            <span *ngIf=" showExistMessage  && i === currentCygIdIndex" class="error_text">
              <img src="../../../assets/icons/error.svg" />
              This CYG ID already exists.
            </span>
          </div>
        </div>



      
      </div>
    </form>


  </div>

  <div *ngIf="currentStep === 1" class="add-device-footer1" >
   
    <div class="save-device-button">
      <button class="cancel-button" type="button" (click)="resetform()"><span>Cancel</span></button>
      <button type="button" class="next-button" (click)="next()" [disabled]="!selectedOS"><span>Next</span></button>
    </div>
  </div>
  <div *ngIf="currentStep === 2" class="add-device-footer2">
    <button class="previous-btn" (click)="previous()"><span>Previous</span></button>
    
    <div class="save-device-button">
      <button class="cancel-button" (click)="resetform()"><span>Cancel</span></button>
      <button class="submit-button-layout" type="submit" (click)="onSubmit()"><span>Submit</span></button>

    </div>
  </div>
</div>






