<div *ngIf="loading; else content" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>




<ng-template #content>

    <div class="my-dashboard me-0 p-0" *ngIf="!loading && logsData">
      <div class="header ms-0 me-0">
        <div class="dashboard-title">
          Dashboard
        </div>
        <div class="p-0 y ">
          <div class="row lastupdaterow ">
            <span class="last-update ">
              Last Updated:
              <span class="Time" *ngIf="logsData.length!=0">
                {{ selectedLocation === 'India' ? (indTime | date: 'MM-dd-yyyy, h:mm a') : (usaTime | date: 'MM-dd-yyyy, h:mm a') }}
              </span>
              <span class="Time" *ngIf="logsData.length==0">00-00-0000, 00:00 AM</span>
            </span>

          </div>
          <div class="GMT">
            <!-- (GMT-06:00) Central Time (US & Canada)-->
            {{ selectedLocation === 'India' ?  '(GMT+05:30) Indian Standard Time (IST)' :  '(GMT-06:00) Central Time (US & Canada)' }}
          </div>

        </div>
      </div>

      <div class="outer-box-cards">

        <div class="KPI-card">

          <div class="col1 ms-0">
            <div class="total-asset">
              <div class="row header ">
                <div class="col-8  Total-asset-Title">
                  Total Assets
                </div>
                <div class="col-4 Filter">
                  <span class="filter-by"> Filter by</span>

                  <div class="">

                    <div class="newasset-dropdown">
                      <div class="dropdown-button">
                        {{ getAssetAgeLabel(selectedAssetAge) }}
                        <img src="../../../../assets/icons/dashboard/Vector.svg" />
                      </div>
                      <div class="content">
                        <label>
                          <input type="checkbox" [(ngModel)]="c1" [value]="1" name="assetAge" class="hide" (change)="handleCheckboxChange()" />
                          <img *ngIf="c1" src="../../assets/icons/checkbox-checked.svg" />
                          <img *ngIf="!c1" src="../../assets/icons/checkbox-unchecked.svg" />
                          0-1 years
                        </label>
                        <label>
                          <input type="checkbox" [(ngModel)]="c2" [value]="1" name="assetAge" class="hide" (change)="handleCheckboxChange()" />
                          <img *ngIf="c2" src="../../assets/icons/checkbox-checked.svg" />
                          <img *ngIf="!c2" src="../../assets/icons/checkbox-unchecked.svg" />
                          1-2 years
                        </label>
                        <label>
                          <input type="checkbox" [(ngModel)]="c3" [value]="1" name="assetAge" class="hide" (change)="handleCheckboxChange()" />
                          <img *ngIf="c3" src="../../assets/icons/checkbox-checked.svg" />
                          <img *ngIf="!c3" src="../../assets/icons/checkbox-unchecked.svg" />
                          2-3 years
                        </label>
                        <label>
                          <input type="checkbox" [(ngModel)]="c4" [value]="1" name="assetAge" class="hide" (change)="handleCheckboxChange()" />
                          <img *ngIf="c4" src="../../assets/icons/checkbox-checked.svg" />
                          <img *ngIf="!c4" src="../../assets/icons/checkbox-unchecked.svg" />
                          3-4 years
                        </label>
                      </div>

                    </div>

                    <!--<select [(ngModel)]="selectedAssetAge" class="asset-age" aria-expanded="false" (change)="handleCheckboxChange()">
                      <option value="0" selected class="placeholder drop-options">Asset Age</option>
                      <option value="1" class="drop-options">0-1 years</option>
                      <option value="2" class="drop-options">1-2 years</option>
                      <option value="3" class="drop-options">2-3 years</option>
                      <option value="4" class="drop-options">3-4 years</option>
                    </select>-->


                  </div>
                </div>
              </div>
              <div class="Assets ms-0 p-0">
                <div class="container-fluid Section1 row ms-0 p-0 me-0  ">
                  <div class="col-6 ms-0 p-0 me-0 " *ngIf="primaryData && primaryData[0]">
                    <app-dashboard-assets [primaryData]="assetMac" [selectedLocation]="selectedLocation"></app-dashboard-assets>
                  </div>
                  <div class="col-6  p-0 me-0 d-flex justify-content-end" *ngIf="primaryData && primaryData[1]">
                    <app-dashboard-assets [primaryData]="assetWindows" [selectedLocation]="selectedLocation"></app-dashboard-assets>
                  </div>
                </div>
                <div class="container-fluid Section2 row ms-0 p-0 me-0" *ngIf="primaryData && primaryData[2]">
                  <div class="col-6 ms-0 p-0 me-0">
                    <app-dashboard-assets [primaryData]="assetMonitor" [selectedLocation]="selectedLocation"></app-dashboard-assets>
                  </div>
                  <div class="col-6 ms-0 p-0 d-flex justify-content-end" *ngIf="primaryData && primaryData[3]">
                    <app-dashboard-assets [primaryData]="assetMobile" [selectedLocation]="selectedLocation"></app-dashboard-assets>
                  </div>

                </div>

              </div>

            </div>

            <div class="row2  d-flex">
              <div class=" Assesories-Details ms-0 ">
                <div class="Assesories-Heading">
                  <div class="Assesories-Text">Accessories</div>
                  <img src="../../../assets/icons/dashboard/Chevron.svg" />
                </div>
                <div class="Search-section">
                  <img src="../../../assets/icons/dashboard/search.svg" />
                  <input class="Search-text"
                         placeholder="Search by accessories name"
                         [(ngModel)]="filterValue"
                         (input)="applyAccessoryFilter($event)" />
                </div>
                <div class="Software-Content">
                  <app-accesories *ngFor="let accessory of filteredAccessories ? filteredAccessories : accessoriesData"
                                  [accessoriesData]="accessory" [selectedLocation]="selectedLocation"></app-accesories>
                </div>
              </div>
              <div class=" Software">
                <div class="Software-Heading">
                  <div class="Software-Text">Software</div>
                  <img src="../../../assets/icons/dashboard/Chevron.svg" />
                </div>
                <div class="Software-Search-section">
                  <img src="../../../assets/icons/dashboard/search.svg" />
                  <input class="Search-text" placeholder="Search by software name" [(ngModel)]="filterValues"
                         (input)="applySoftwareFilter($event)" />
                </div>
                <div class="container-fluid list">
                  <app-software-component *ngFor="let software of filteredSoftware? filteredSoftware : softwaresData " [softwareData]="software" [selectedLocation]="selectedLocation"></app-software-component>
                </div>
              </div>
            </div>




          </div>
          <div class="Recent-Activity">
            <div class="Recent-Activity-Heading">
              <div class="Recent-Activity-Text">
                Recent Activity
                <img src="../../../assets/icons/dashboard/Chevron.svg" />
              </div>

            </div>
            <div class=" container-fluid Recent-Activity-Content m-0 p-0">
              <div class="Frame">
                <!--<div class="Date">
                  <hr class="h-line">
                  <div class="Date-content">
                    <img src="../../../assets/icons/dashboard/CalendarBlank.svg" />
                    <span class="date-title">12-1-2024</span>
                  </div>
                  <hr class="h-line">

                </div>-->
                <div class="container-fluid" *ngIf="logsData.length!=0">


                  <div class="row" *ngFor="let logs of logsData; let i = index">
                    <div class="Date p-0" *ngIf="isDateDifferent(i) && selectedLocation === logs.location">
                      <hr class="h-line">
                      <div class="Date-content">
                        <img src="../../../assets/icons/dashboard/CalendarBlank.svg" />
                        <span class="date-title">
                          {{ logs.updatedOn | date:'MM-dd-yyyy' }}
                        </span>
                      </div>
                      <hr class="h-line">

                    </div>
                    <app-recent-activity class="p-0"  *ngIf="selectedLocation === logs.location" [logsData]="logs" ></app-recent-activity>


                  </div>
                  <!--<div class="Date">
                    <hr class="h-line">
                    <div class="Date-content">
                      <img src="../../../assets/icons/dashboard/CalendarBlank.svg" />
                      <span class="date-title">12-1-2024</span>
                    </div>
                    <hr class="h-line">

                  </div>-->
                  <!--<div class=" row Section2 ">
                    <app-recent-activity></app-recent-activity>


                  </div>-->
                </div>
              </div>
            </div>

          </div>

        </div>







      </div>
    </div>
</ng-template>

