
<div class="container-fluid my-dashboard">
  <div class="row header" >
    <div class="col-8 dashboard-title ">
      Dashboard
    </div>
    <div class="col-4 st">
      <div class="row" >
        <span class="last-update"> Last Updated: <span class="Time">12-12-2023, 09:30 AM</span></span>

      </div>
      <div class="GMT">
        (GMT-06:00) Central Time (US & Canada)
      </div>

    </div>
  </div>

  <div class="container-fluid">

    <div class="col-8">
      fghj
    </div>
    <div class="col-4">
      gchj
    </div>

  </div>

</div>








