
  <div class="row">
    <div class="col-md-12 comment-header">
      <div class="row">
        <div class="col-md-6">
          <span>
            <img src="../../../../assets/icons/Comment.svg" style="width: 1.25rem; height: 1.25rem;">
          </span>
          <span style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">
            Comment (1)
          </span>
        </div>
        <div class="col-md-6 chevron">
          <div>
            <img src="../../../../assets/icons/Chevron.svg" style="width: 1.25rem; height: 1.25rem; margin-right: -10%;">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="row comment-avatar">
        <div class="col-md-6">
          <div class="row avatar-supercomponent">
            <div class="col-md-1 avatar">
              <ngx-avatars name="Ganesh Warner" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="32"></ngx-avatars>
            </div>
            <div class="col-md-4 user-details">
              <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 0.875rem; font-style: normal; font-weight: 600; line-height: normal;">Ganesh Warner</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 date-time-comment">
          <div>
            <div>12-12-2023, 09:30 AM</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <p class="comment-content">Woah, your project looks awesome! How long have you been coding for? I’m still new,
      but think I want to dive into React as well soon. Perhaps you can give me an insight on where I can learn React?
      Thanks!</p>
    </div>
    <div class=" comment-input">
      <input type="text" class="comment-box" placeholder="Add Comment...">
      <button class="bb">Save</button>
    </div>
    
  </div>

