<div class="comment-container" >
  <div class="row" >
    <div class="col-md-12 comment-header" (click)="toggleCommentSection(deviceDetails.cygid)">
      <div class="row">
        <div class="col-md-6">
          <span>
            <img src="../../../../assets/icons/Comment.svg" style="width: 1.25rem; height: 1.25rem;">
          </span>
          <span style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">
            Comment (1)
          </span>
        </div>
        <div class="col-md-6 chevron">
          <div>
            <img src="../../../../assets/icons/Chevron.svg" style="width: 1.25rem; height: 1.25rem; margin-right: -10%;" [class.collapsed]="isCommentSectionCollapsed">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isCommentSectionCollapsed">
    <div class="insideComment" *ngFor="let device of devicelog" >
    <div class="col-md-12" >
      <div class="row comment-avatar">
        <div class="col-md-6">
          <div class="row avatar-supercomponent">
            <div class="col-md-1 avatar">
              <ngx-avatars name={{device.assignedBy}} [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="32"></ngx-avatars>
            </div>
            <div class="col-md-4 user-details">
              <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 0.875rem; font-style: normal; font-weight: 600; line-height: normal;">{{device.assignedBy}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-6 date-time-comment">
          <div>
            <div>{{device.comment.commentCreatedAtUtc}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <p class="comment-content">{{device.comment.commentDescription}}</p>
    </div>
    <div class="col-md-12 comment-input">
      <input type="text" class="input" placeholder="Add Comment...">
    </div>
     </div>
      </div>
  </div>
</div>
