<app-navbar></app-navbar>


<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <router-outlet>
          <app-employee></app-employee>
        </router-outlet>
      </div>
    </div>
  </div>

  
</main>
<div style="display: flex;">
  <app-new-sidebar></app-new-sidebar>
 </div>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </main>

