
  

<div class="laptop-details">

  <div class="inner-laptop-container" *ngFor="let laptop of laptopDetails">

  
    <div *ngIf="laptop.submitedBy === null" class="device-tag">

      <div class="device-tag-info">CURRENT DEVICE</div>

    </div>
    <div *ngIf="laptop.submitedBy === null" class="laptop-revoke-button">
      <app-laptop-revoke [laptopDetails]="laptop" [userId]="userId" [firstName]="firstName" [lastName]="lastName" [cgiid]="cgiid"></app-laptop-revoke>
    </div>
    <div class="col-md-12 pp">


      <div class="row user-detail">
        <div class="aa">

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">CYG ID</div>
            <div class="cyg-id-container">
              <div (click)="navigateToDeviceDetails(laptop.cygid)" style="color: var(--Primary-Blue, #28519E); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 600; line-height: normal;">{{laptop.cygid}} {{laptop.categoryName}}</div>
              <img (click)="navigateToDeviceDetails(laptop.cygid)" src="../../../assets/icons/chevron-right.svg">
            </div>
          </div>

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Model</div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">{{laptop.model}}</div>
          </div>

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">OS</div>
            <div *ngIf="laptop.osName === 'Windows'" style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">
              <img src="../../../../assets/icons/windows.svg">
              Windows Laptop
            </div>

            <div *ngIf="laptop.osName === 'Mac'" style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">
              Mac
            </div>
          </div>
        </div>

        <div class="aa">
          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Assign By</div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">{{laptop.assignBy}}</div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">{{laptop.assignedDate | date: 'MM-dd-yyyy, h:mm a'}}</div>
          </div>

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Recieved By</div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">{{laptop.submitedBy !== null ? laptop.submitedBy : '--' }}</div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">{{laptop.submitedByDate | date: 'MM-dd-yyyy, h:mm a'}}</div>
          </div>
        </div>
      </div>
     

      <!--<app-user-comments [laptopDetails]="laptop" [userId]="userId" [firstName]="firstName" [lastName]="lastName" [cgiid]="cgiid"></app-user-comments>-->


    </div>
  </div>

  <div class="no-software-message" *ngIf="!laptopDetails || laptopDetails.length === 0">
    <p>No laptop allocated to this user.</p>
    <div class="inner-laptop-container">
      <div class="col-md-12">
        <div class="row user-detail">

          <div class="aa">

            <div class="col-md-6 common-gap-style">
              <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">CYG ID</div>

            </div>

            <div class="col-md-6 common-gap-style">
              <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Model</div>

            </div>
          </div>

          <div class="aa">
            <div class="col-md-6 common-gap-style">
              <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Assign By</div>

            </div>

            <div class="col-md-6 common-gap-style">
              <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Submitted By</div>

            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
</div>

