<div class="row laptop-details">
  <div class="col-md-12">
    <span>
      <img src="../../../../assets/icons/windows.svg">
    </span>
    <span style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1.125rem; font-style: normal; font-weight: 600; line-height: normal;">
      Windows Laptop
    </span>
  </div>
  <div class="col-md-12 inner-laptop-container">
    <div class="row user-detail">

      <div class="col-md-6 common-gap-style">
        <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">CYG ID</div>
        <div style="color: var(--Primary-Blue, #28519E); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 600; line-height: normal;">CYG682</div>
      </div>

      <div class="col-md-6 common-gap-style">
        <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Model</div>
        <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">Dell Precision 3470</div>
      </div>

      <div class="col-md-6 common-gap-style">
        <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Assign By</div>
        <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">Cameron Williamson</div>
        <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">12-10-2023</div>
      </div>

      <div class="col-md-6 common-gap-style">
        <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Submitted By</div>
        <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">Bunty Williamson</div>
        <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">12-10-2024</div>
      </div>

    </div>
    <div class="col-md-12 hi">
      <app-comments></app-comments>
    </div>
  </div>
</div>

