.list-panel-container {
  display: flex;
  width: 21.1875rem;
  height: 41.2rem;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.selectedWOW {
  border: 1px solid var(--Primary-Blue, #28519E);
  background: #E3F3FC;
}

.list-search-bar {
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Gray, #B2B2B3);
  background: #FFF;
}

.list-search-bar-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1 0 0;
}

  .list-search-bar-input img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .list-search-bar-input input {
    flex: 1 0 0;
    border: none;
    outline: none;
  }

    .list-search-bar-input input::placeholder {
      color: var(--Primary-Gray, #343435);
      font-family: Roboto;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.5;
    }

.admin-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.534rem;
  flex: 1 0 0;
  align-self: stretch;
}


.all-activity-log {
  border-radius: 0.267rem;
  border: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: var(--Primary-White, #FFF);
  display: flex;
  height: 3.1875rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}

.icon-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.initial {
  display: flex;
  align-items: center;
  gap: 0.44444rem;
}

.all-activity-log-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.activity-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.group {
  width: 2rem;
  height: 2rem;
  position: relative;
}

.frame {
  display: inline-flex;
  align-items: center;
  gap: 0.625rem;
  position: relative;
  z-index: 1;
}

.behind {
  position: absolute;
  left: 0.38rem;
  z-index: 0;
}

.st {
  /*border: 1px solid black;*/
  border: 1px solid var(--Primary-Blue, #28519E);
  background: #E3F3FC;
}
