<span>
  <img src="../../../../assets/icons/Software.svg">
</span>
<span style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1.125rem; font-style: normal; font-weight: 600; line-height: normal;">
  Accessories
</span>
<div class="accessories-details">
  <div class="inner-accessories-container" *ngFor="let accessory of accessoriesDetails">

    <div *ngIf="accessory.submittedBy === null" class="device-tag">

      <div class="device-tag-info">CURRENT DEVICE</div>

    </div>

    <div *ngIf="accessory.submittedBy === null" class="accessory-revoke-button">
      <app-accessories-revoke [accessoriesDetails]="accessory" [userId]="userId" [firstName]="firstName" [lastName]="lastName" [cgiid]="cgiid"></app-accessories-revoke>

    </div>



    <div class="col-md-12 pp">


      <div class="row user-detail">
        <div class="user-accessory">

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Accessory Name </div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 600; line-height: normal;">{{accessory.categoryName}}</div>
          </div>

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Type</div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">
              <span *ngIf="accessory.isWired; else notWiredText">Wired</span>
              <ng-template #notWiredText>Not Wired</ng-template>
            </div>
          </div>

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Brand </div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 600; line-height: normal;">{{accessory.brand}}</div>
          </div>

        </div>

        <div class="user-accessory">

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Assigned By </div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 600; line-height: normal;">{{accessory.assignBy}}</div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">{{accessory.assignedDate | date: 'MM-dd-yyyy, h:mm a'}}</div>
          </div>

          <div class="col-md-4 common-gap-style">
            <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Recieved By </div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 600; line-height: normal;">{{accessory.submittedBy  !== null ? accessory.submittedBy : '--'}}</div>
            <div style="color: var(--Primary-Gray, #343435); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 500; line-height: normal;">{{accessory.submittedByDate | date: 'MM-dd-yyyy, h:mm a'}}</div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="no-accessory-message" *ngIf="!accessoriesDetails || accessoriesDetails.length === 0">
    <p>No accessory allocated to this user.</p>
    <div class="inner-accessories-container">
      <div class="col-md-12">
        <div class="row user-detail">

          <div class="user-accessory">

            <div class="col-md-6 common-gap-style">
              <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Category Assigned: </div>
            </div>

            <div class="col-md-6 common-gap-style">
              <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Category Type:</div>
            </div>

          </div>

          <div class="user-accessory">
            <div class="col-md-6 common-gap-style">
              <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Assigned By: </div>
            </div>

            <div class="col-md-6 common-gap-style">
              <div style="color: var(--Adhoc-Grey, #6D6D6D); font-family: Roboto; font-size: 1rem; font-style: normal; font-weight: 400; line-height: normal;">Assigned To: </div>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>

</div>
