<div class="modal fade " id="UsercsvModal">
 <div class="header ">
  <span class="uploaduser-text">Upload User Details CSV</span>
   <img class="close" src="../../assets/icons/Close.svg"  data-bs-dismiss="modal" />
  </div>
  <div class="content">
    <span class="content-text">
      To add new user(s), please upload the CSV file.
      The CSV file should contain the following information for each user:
    </span>
    <span class="detail-text">
      First Name<br />
      Last Name<br />
      Corresponding CGI ID<br />
      Email ID
    </span>
    <div class="drag-drop ">
      <div class="browse-icon ">
        <div class="upload-icon ">
          <img src="../../assets/icons/upload-csv.svg" />

        </div>
        <span class="drag-text">
          Drag and drop here
          or click to select a file from your computer
        </span>
      </div>
      <input type="file" style="display: none;" id="fileUpload" (change)="onFileSelected($event)">

      <button type="button" class="browse-csv-button" (click)="triggerFileInput()">
        <span class="browse-text">Browse from your computer</span>
      </button>
    </div>
  </div>
  <div class="cancle-save ">
    
      <button class="cancel-button"  data-bs-dismiss="modal"><span>Cancel</span></button>
      <button class="btn btn-primary addclose"  data-bs-dismiss="modal" ><span>Save</span></button>
  </div>


  <div class="modal-dialog">


  </div>

</div>

