.Software-Section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
.form-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.sbox {
  display: flex;
  /*height: 7.625rem;*/
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  align-self: stretch;
}

.software-details {
  display: flex;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Light-Blue, #B8DDE1);
  background: #F5F8FE;
}
.details-subheading {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.details-frame {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;
}
.detail {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}
.detail-paramter {
  color: var(--Adhoc-Grey, #6D6D6D);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.detail-value {
  flex: 1 0 0;
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Cbox {
  display: flex;
  height: 5.0625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  align-self: stretch;
}

.Add-new {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-img {
  width: 1.25rem;
  height: 1.25rem;
  fill: #FFF;
}

.add-new-text {
  color: #28519E;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.alert-box {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  border-radius: 0.25rem;
  background: #FFE8E8;
}

.alert-image-frame {
  display: flex;
  height: 1rem;
  justify-content: center;
  align-items: center;
}

.alert-image {
  width: 0.75rem;
  height: 0.75rem;
  fill: #CC1A07;
}

.alert-box-msg {
  flex: 1 0 0;
  color: var(--Adhoc-Red, #CC1A07);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}

.Software-Section-bottom-margin {
  margin-bottom: 20px;
}
