<div class="Software-Section">
  <div class="form-fields">
    <app-search-box class="sbox" [label]="'Software'" [placeholder]="'Select Software'"></app-search-box>
    <app-search-box class="sbox" [label]="'Software Version'" [placeholder]="'Select Software Version'"></app-search-box>
    <div class="software-details">
      <div class="details-subheading">
        Selected Software Details:
      </div>
      <div class="details-frame">
        <div class="details">
          <div class="detail">
            <div class="detail-paramter">Software Type:</div>
            <div class="detail-value">Perpetual</div>
          </div>
          <div class="detail">
            <div class="detail-paramter">Expiry:</div>
            <div class="detail-value">10-12-2024</div>
          </div>
        </div>
      </div>
    </div>
    <app-comment-box class="Cbox"></app-comment-box>
  </div>
  <div class="Add-new">
    <img class="add-img" src="../../../../assets/icons/Add.svg" />
    <div class="add-new-text">Add Another Software</div>
  </div>
</div>
