
<div class="recent  ">

  <div class="user">
    <ngx-avatars name={{logsData.updatedBy}} [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>
    <p class=" avatar-name">{{logsData.updatedBy}}</p>
    <p class=" Time">08:10 pm</p>
  </div>
  <div class="Device-text">

    Device <span class="cyg">{{logsData.cygid}}</span> {{logsData.category}} has been {{logsData.action}} to <span class="user-name">{{logsData.assignedTo}}</span>

  </div>
</div>

 <!--*ngIf="softwareData[0].updatedon !== softwareData[1].updatedon"-->
