.recent {
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: #FFF;
  padding: 0.75rem;
  margin-bottom:1rem;
 
}

.user {
  display: flex;
  
}

.avatar {
  color: var(--Primary-Blue, #28519E);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.9375rem;
  
}

.avatar-name {
  width: 13.375rem;
  height: 1rem;
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  flex: 1 0 0;
  display: inline;
  margin-left: 5px;
  margin-top:0.4rem;
}

.Time {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 0.4rem;
}

.Device-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  padding-top:0.5rem;
}

.cyg {
  color: var(--Primary-Blue, #28519E);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.user-name {
  color: var(--Primary-Blue, #28519E);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.st {
  border: 1px solid black;
}

.Date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
  align-self: stretch;
}

.h-line {
  background: var(--Secondary-Light-Gray, #E9ECEB);
  height: 0.125rem;
  flex: 1 0 0;
}

.Date-content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.25rem;
}

.date-title {
  color: var(--Primary-Gray, #343435);
  text-align: right;
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.st {
  border: 1px solid black;
}
