<div class="modal main fade" id="revokeAllModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header ">
        <h1 class="modal-title">Initiate Exit Process</h1>
        <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close" (click)="closeForm()"><img src="../../../../assets/icons/Close.svg" /></button>
      </div>
      <div class="modal-body">
        <div class="alert-box">
          <div class="alert-image-frame">
            <img id="alert-image" src="../../../../assets/icons/Vector.svg" />
          </div>
          <div class="alert-box-msg">
            You are initiating the exit process
          </div>

        </div>
        <div class="user-details">
          <ngx-avatars class="avatar" name="Marvin McKinney" [textSizeRatio]=2.7 bgColor="#b8dde1" fgColor="#264f9d" [round]="true"></ngx-avatars>
          <div class="user-name-details">
            <div class="user-name">Marvin McKinney</div>
            <div class="user-id">CGI 098</div>
          </div>
        </div>

        <div class="device-details">
          <div class="details-subheading">
            Assigned Laptop
          </div>
          <div class="details">
            <div class="device-model">
              <div class="details-icon"><img src="../../assets/icons/laptop-small.svg" /></div>
              <div class="details-text">Dell Precision 3470</div>
            </div>
            <div class="device-model">
              <div class="details-icon"><img src="../../assets/icons/Windows-small.svg"></div>
              <div class="details-text">Windows</div>
            </div>
            <div class="device-model">
              <div class="details-icon"><img src="../../assets/icons/processor.svg"></div>
              <div class="details-text">12th Gen Intel(R) Core(TM) i7-1270P   2.20 GHz</div>
            </div>
            <div class="same-row-details">
              <div class="device-model-same-row">
                <div class="details-icon"><img src="../../assets/icons/storage.svg" /></div>
                <div class="details-text">16 GB</div>
              </div>
              <div class="device-model">
                <div class="details-icon-same-row"><img src="../../assets/icons/disk.svg"></div>
                <div class="details-text">512 GB</div>
              </div>
            </div>
          </div>
        </div>
        <div class="accessories-details">
          <div class="details-subheading">
            Assigned Accessories
          </div>
          <div class="accessories-model-details">
            <div class="accessories-model">
              <div class="details-icon"><img src="../../assets/icons/bag-small.svg"></div>
              <div class="accessories-details-text">Bag</div>
            </div>
            <div class="accessories-model">
              <div class="details-icon"><img src="../../assets/icons/hdmi-small.svg"></div>
              <div class="accessories-details-text">HDMI Cable</div>
            </div>

          </div>
          <div class="accessories-model-details">
            <div class="accessories-model">
              <div class="details-icon"><img src="../../assets/icons/mouse-small.svg"></div>
              <div class="accessories-details-text">Mouse</div>
            </div>
            <div class="accessories-model">
              <div class="details-icon"><img src="../../assets/icons/keyboard-small.svg"></div>
              <div class="accessories-details-text">Keyboard</div>
            </div>
          </div>
        </div>
        <div class="alert-box-bottom">
          <img src="../../assets/icons/Vector.svg">
          This information will be sent to the user through an email
        </div>


        <div class="footer">
          <div class="btn btn-cancel">Cancel</div>
          <div class="btn btn-initiate">Initiate</div>
        </div>

      </div>

    </div>
  </div>
</div>
