.btn {
  border-radius: 0.25rem;
  border: 1px solid #28519E;
}

.archive-img {
  width: 3.75rem;
  height: 3.75rem;
}
.modal.fade.show {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.modal-dialog {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
@media (min-width: 2560px) {
  .modal-dialog {
    top: 25% !important; /* Adjust based on background height */
    left: 45% !important;
  }
}

@media (min-width: 1843px) {
  .modal-dialog {
    top: 25% !important; /* Adjust based on background height */
    left: 45% !important;
  }
}
