<div class="container">
  <div class="modal fade" id="unarchive" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="padding: 1rem;">
        <img class="archive-img" src="../../assets/icons/ArchiveModal.svg" />
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">UnArchive Item “{{cygid}}”</h5>
        </div>
        <div class="modal-body">
          Are you sure you want to Unarchive this device?
          <br />
          This will save in the archive section.
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn" data-dismiss="modal">No, Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onclick()" data-dismiss="modal">Yes, UnArchive</button>
        </div>
      </div>
    </div>
  </div>
</div>

