<div class="software-name">
  <div class="icon-name">
    <div class="software-icon">
      <img src="../../../assets/icons/Software/Microsoft.svg" />
 </div>
    <div class="softwarename">
      Microsoft's Windows NT operating system software license
    </div>
  </div>
  <div class="type">
    <div class="typename">
      <div class="subtypename">
        <div class="typetext">
          Perpetual
        </div>
      </div>
    </div>
    <div class="versiondiv">
      <div class="versiondiv-text">
        Version 2.0.0
      </div>
    </div>
  </div>
</div>
