<div class="software-name">
  <div class="icon-name ">
    <div class="software-icon ">
      <img src="../../../assets/icons/Software/Microsoft.svg" />
    </div>
    <div class="softwarename">
      {{ softwareData.name}}
    </div>
  </div>
  <div class="type ">
    <div class="versiondiv">
      <div class="versiondiv-text">
        Version {{ softwareData.version }}
      </div>
    </div>
    <div class="typename">
      <div class="subtypename">
        <div class="typetext">
          {{ softwareData.type }}
        </div>
      </div>
    </div>
  </div>
</div>









