<div class="software-details ">
  <div class="software-heading  ">
    <div class="software-title ">
      <div class="heading ">
        <div class="software-text">
          Software
          <app-new-comments></app-new-comments>

        </div>
      </div>
    </div>
    <div class="filter ">
      <div class="toggle   ">
        <div class="tab1 ">
          <div class="card ">Card View</div>
        </div>
        <div class="tab2 ">
          <div class="table">Table View</div>
        </div>
      </div>
      <div class="show-archive ">
        <div class="archive ">
          <img src="../../../assets/icons/Software/Checkbox component.svg" />
          <span class="archive-text">Show Archive Software Only</span>
        </div>
        <span class="filterbox ">
          <div class="filter-content">
            <img src="../../../assets/icons/Software/Filter.svg" />
            <span class="filter-text">Filter</span>
          </div>
        </span>
      </div>

    </div>
  </div>
  <div class="software  ">
    <div class="category">
      <div class="category-div">
        <div class="text-field">
          <div class="input">
            <div class="input-frame">
              <img src="../../../assets/icons/Software/Search.svg" />
              <span class="input-text">Search Software</span>
            </div>
          </div>
        </div>
        <div class="sub-category">
          <app-software-name></app-software-name>
        </div>
      </div>
    </div>

    <div class="specification ">
      <div class="summary">
        <span class="software-summary">Software Summary</span>
      </div>
      <div class="specification-div  ">
        <div class="status-archive ">
          <div class="status-div">
            <div class="status-text">Status</div>
            <div class="status-active">Active</div>
          </div>
          <div class="status-archive-div">
            <img src="../../../assets/icons/Software/Archive button.svg" />
            <span class="archivebutton-text">Archive</span>

          </div>
        </div>
        <div class="expiring">
          <img src="../../../assets/icons/Software/Warning.svg" />
          <span class="expiringbutton-text">3 Expiring in 60 days</span>
        </div>

        <div class="software-name-div  ">
          <div class="icon-name-number  ">
            <div class="icon-name ">
              <img src="../../../assets/icons/Software/software-icon.svg" />
              <span class="software-name-span">Software Name</span>
            </div>
            <span class="software-number">
              60
            </span>
          </div>
          <div class="software-div-name">Microsoft's Windows NT operating system software license</div>
        </div>

        <div class="version-name-div  ">
          <div class="version-icon-name">
            <div class="version-heading-icon">
              <img src="../../../assets/icons/Software/version-icon.svg" />
              <div class="version-heading-text">
                Version
              </div>
            </div>
          </div>
          <div class="version-number">
            <div class="version-number-text">
              Version 2.0.0
            </div>
          </div>
        </div>

        <div class="assigned-inventory">
          <div class="assigned">
            <div class="assigned-logo-heading">
              <div class="assigned-heading1">
                <img src="../../../assets/icons/Software/assigned-icon.svg" />
                <div class="assigned-heading">Assigned</div>
              </div>

            </div>
            <div class="assigned-div-number">
              60
            </div>
          </div>
          <div class="assigned">
            <div class="assigned-logo-heading">
              <div class="assigned-heading1">
                <img src="../../../assets/icons/Software/Assigned.svg" />
                <div class="assigned-heading">Inventory</div>
              </div>

            </div>
            <div class="assigned-div-number">
              40
            </div>
          </div>
        </div>

        <div class="assigned-inventory">
          <div class="assigned">
            <div class="assigned-logo-heading">
              <div class="assigned-heading1">
                <img src="../../../assets/icons/Software/calendar.svg" />
                <div class="assigned-heading ">Date of Purchase</div>
              </div>

            </div>
            <div class="assigned-div-number">
              12-10-2023
            </div>
          </div>
          <div class="assigned">
            <div class="assigned-logo-heading">
              <div class="assigned-heading1">
                <img src="../../../assets/icons/Software/calendar.svg" />
                <div class="assigned-heading">Expiry Date</div>
              </div>

            </div>
            <div class="assigned-div-number">
              12-10-2025
            </div>
          </div>
        </div>



      </div>
    </div>

    <div class="assign-history">
      <div class="history-comment">
        <div class="history-heading">
          Assign History
        </div>
        <div class="comment-heading" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="../../../assets/icons/Software/Comment.svg" />
          <span class="comment-text">Comments</span>


          <img src="../../../assets/icons/Software/Chevron.svg" />


        </div>

      </div>
      <div class="history-cards">
        <app-software-assign-history ></app-software-assign-history>
      </div>
    </div>
  </div>



</div>


