<app-filter (applyClicked)="onApplyClicked($event)"></app-filter>
<app-archivesoftware></app-archivesoftware>
<app-lastdate></app-lastdate>
<div class="software-details ">
  <div class="software-heading  ">
    <div class="software-title ">
      <div class="heading ">
        <div class="software-text">
          Software
          <app-new-comments></app-new-comments>

        </div>
      </div>
    </div>
    <div class="asset-header">
      <div class="btn-group toggle-button" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked [(ngModel)]="selectedView" value="card">
        <label class="btn btn-outline-primary custom-label" for="btnradio1"><span>Card View</span></label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" [(ngModel)]="selectedView" value="table">
        <label class="btn btn-outline-primary custom-label" for="btnradio2"><span>Table View</span></label>
      </div>

      <div class="filter-section">
        <div class="justify-content-end form-check rightSide" *ngIf="selectedView === 'card'">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="Archived()">
          <label class="form-check-label" for="flexCheckDefault">
            Show Archive Assets Only
          </label>
        </div>
        <div class="search-bar" *ngIf="selectedView === 'table'">

        </div>
        <div class="export-button" *ngIf="selectedView === 'table'">
          <button>
            <img src="../../../../assets/icons/Software/excel-icon.svg" />
            <span>Export to Excel</span>
          </button>
        </div>
        <div class="filter-button" data-bs-toggle="modal" data-bs-target="#filterModal">
          <button>
            <img src="../../../../assets/icons/Software/filter-icon.svg" />
            <span>Filter</span>
          </button>
        </div>
      </div>
    </div>
    <!--<div class="filter st ">
      <div class="toggle   ">
        <div class="tab1 ">
          <div class="card ">Card View</div>
        </div>
        <div class="tab2 ">
          <div class="table">Table View</div>
        </div>
      </div>
      <div class="show-archive ">
        <div class="archive ">
          <img src="../../../assets/icons/Software/Checkbox component.svg" />
          <span class="archive-text">Show Archive Software Only</span>
        </div>
        <span class="filterbox ">
          <div class="filter-content">
            <img src="../../../assets/icons/Software/Filter.svg" />
            <span class="filter-text">Filter</span>
          </div>
        </span>
      </div>

    </div>-->
  </div>
  <div class="software " *ngIf="selectedView === 'card'">
    <div class="category ">
      <div class="category-div ">
        <div class="text-field">
          <div class="input">
            <div class="input-frame">
              <img src="../../../assets/icons/Software/Search.svg" />
              <input class="input-text" placeholder="Search software " [(ngModel)]="filterValues"
                     (input)="applySoftwareFilter($event)" />
            </div>
          </div>
        </div>
        <div *ngIf="filteredSoftware">
          <div class="sub-category " *ngFor="let software of filteredSoftware? selectedLocation === 'India' ? filteredSoftware[0]:filteredSoftware[1] : selectedLocation === 'India' ? softwaresData[0] : softwaresData[1]">
            <!--<div *ngIf="(isArchived==true && software.isArchived==1)||(isArchived==false && (software.isArchived==0||software.isArchived==null))">-->
              <app-software-name [softwareData]="software" [selectedLocation]="selectedLocation" (cardClicked)="onCardClicked($event)" [isArchived]="isArchived"></app-software-name>
            <!--</div>-->
          </div>
        </div>




      </div>
    </div>

    <div class="specification ">
      <div class="summary">
        <span class="software-summary">Software Summary</span>
      </div>
      <div class="specification-div  ">
        <div class="status-archive ">
          <div class="status-div">
            <div class="status-text">Status</div>
            <div class="status-active">Active</div>
          </div>
          <div class="status-archive-div" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <img src="../../../assets/icons/Software/Archive button.svg" />
            <div class="archivebutton-text">Archive</div>

          </div>
        </div>
        <div class="expiring">
          <img src="../../../assets/icons/Software/Warning.svg" />
          <span class="expiringbutton-text">3 Expiring in 60 days</span>
        </div>

        <div class="software-name-div  ">
          <div class="icon-name-number  ">
            <div class="icon-name ">
              <img src="../../../assets/icons/Software/software-icon.svg" />
              <span class="software-name-span">Software Name</span>
            </div>
            <span class="software-number">
              {{singlesoftware?.assigned+singlesoftware?.inventory}}


            </span>
          </div>
          <div class="software-div-name">
            {{singlesoftware?.name}}
          </div>
        </div>

        <div class="version-name-div  ">
          <div class="version-icon-name">
            <div class="version-heading-icon">
              <img src="../../../assets/icons/Software/version-icon.svg" />
              <div class="version-heading-text">
                Version
              </div>
            </div>
          </div>
          <div class="version-number">
            <div class="version-number-text">
              {{singlesoftware?.version}}
            </div>
          </div>
        </div>

        <div class="assigned-inventory">
          <div class="assigned">
            <div class="assigned-logo-heading">
              <div class="assigned-heading1">
                <img src="../../../assets/icons/Software/Assigned-icon.svg" />
                <div class="assigned-heading">Assigned</div>
              </div>

            </div>
            <div class="assigned-div-number">
              {{singlesoftware?.assigned}}

            </div>
          </div>
          <div class="assigned">
            <div class="assigned-logo-heading">
              <div class="assigned-heading1">
                <img src="../../../assets/icons/Software/Assigned.svg" />
                <div class="assigned-heading">Inventory</div>
              </div>

            </div>
            <div class="assigned-div-number">
              {{singlesoftware?.inventory}}

            </div>
          </div>
        </div>

    <div class="dateofpurchase ">
      <div class="lastdate-text ">
        <div class="calendar-icon-text">
          <div class="calendar-icon">
            <img src="../../assets/icons/Software/calendar.svg" />
          </div>
          <span class="last-date-heading">Last Date Of Purchase</span>
        </div>
        <span class="number">18</span>
      </div>

      <div class="last-date-div "  data-bs-toggle="modal" data-bs-target="#lastdateModal" >
        <span class="last-date">
          {{ singlesoftware?.purchaseDates[0]?.purchaseDates | date: 'MM-dd-yyyy' }}
        </span>
        <img src="../../assets/icons/Software/Chevron.svg" />

      </div>
    
    </div>



      </div>
    </div>

    <div class="assign-history">
      <div class="history-comment">
        <div class="history-heading">
          Assign History
        </div>
        <!--<div class="comment-heading" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="../../../assets/icons/Software/Comment.svg" />
          <span class="comment-text">Comments</span>


          <img src="../../../assets/icons/Software/Chevron.svg" />


        </div>-->

      </div>
      <div class="history-cards">
        <app-software-assign-history  *ngFor="let historyItem of softwarehistory" [historyData]="historyItem"></app-software-assign-history>
      </div>
    </div>
  </div>


  <div *ngIf="selectedView === 'table'">
    <app-table-view [rowData]="rowData" [colDefs]="colDefs"></app-table-view>
  </div>



</div>


