
<div class="container-fluid add_asset_container">
  <div class="row header">
    Add Assets
  </div>
  <div class="row content-box">
    <div class="col-4 category_container">
      <div class="search_box">
        <img src="../../assets/icons/Search.svg" class="search_image" />
        <input type="text" class="serach_input" placeholder="Search Device" />
      </div>
      <app-category-card></app-category-card>
      <app-category-card></app-category-card>

    </div>
    <div class="col-8 add_device_container">
      <div class="row add_device_header">
        kgiug
      </div>
      <div class="row add_device_contents">

      </div>
      <div class="row add_device_footer">

      </div>
    </div>
  </div>
</div>
