<div class="container-fluid add_asset_container">
  <div class="header">
    Add Assets
  </div>
  <div class="content-box">
    <div class="category_container">
      <div class="search_box">
        <img src="../../assets/icons/Search.svg" class="search_image" />
        <input type="text" class="serach_input" [(ngModel)]="searchtext" placeholder="Search Device" />
      </div>
      <div *ngIf="loading; else content">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <ng-template #content>
        <app-category-card *ngFor="let category of categoryData|filter:searchtext" [typeName]="category.typeName" [categories]="category.categories" (categorySelected)="setSelectedCategory($event)"></app-category-card>
      </ng-template>
    </div>
    <div class="vertical-stroke">
      <img src="../../assets/icons/add asset vertical stroke.svg" />
    </div>
    <div class="add_device_container">
      <div class="row add_device_contents">
        <div class="col-12" *ngIf="selectedCategory == 'Laptop'">
          <app-add-device-form></app-add-device-form>
        </div>
        <div class="col-12" *ngIf="selectedCategory == 'Software'">
          <app-add-software-form></app-add-software-form>
        </div>
        <div class="col-12" *ngIf="selectedCategory == 'Mouse'">
          <app-add-mouse-form></app-add-mouse-form>
        </div>
        <div class="col-12" *ngIf="selectedCategory == 'Monitor'">
          <app-add-monitor-form></app-add-monitor-form>
        </div>
        <!--<app-add-software-form></app-add-software-form>-->
      </div>
    </div>
  </div>
</div>
