<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Details</title>
  
</head>

<body>
  <div class="page-container">
    <div class="row-container">
      <div class="user-headers">
        <div class="user-header">
          <div class="first">
            <div class="logo"> <ngx-avatars name="Marvin McKinney" [textSizeRatio]=2.5  bgColor=#b8dde1 fgColor=#002C3F [round]="true" size="40" ></ngx-avatars> </div>

            <div class="user-name-id">
              <div class="user-name">Marvin McKinney</div>
              <div class="user-id">CGI 098</div>
            </div>
          </div>

          <div class="assign"><button class="assign-button"><img src ="../../assets/icons/Add.svg" /><div class="ass"></div>Assign</button></div>
        </div>
      </div>
    
 

     
      <div class="assigned">
        <div class="buttons">
          <button class="item1">
            <div class="laptop">Laptop</div>
          </button>
          <button class="item2">
            <div class="software">Software</div>
          </button>
          <button class="item3">
            <div class="accessories">Accessories</div>
          </button>
        </div>
      
        <app-laptop-details></app-laptop-details>
      </div>

  </div>  
    
 </div>




