
<app-assign-asset></app-assign-asset>
<app-exit-process (initiateExitProcess)="onInitiateExitProcess(userDetails.id)" [laptopDetails]="laptopDetails" [accessoriesDetails]="accessoriesDetails" [userId]="userDetails?.id" [firstName]="userDetails?.firstName" [lastName]="userDetails?.lastName" [cgiid]="userDetails?.cgiid" [userEmail]="userDetails?.email"></app-exit-process>
<app-confirmation-modal [userId]="userDetails?.id" [firstName]="userDetails?.firstName" [lastName]="userDetails?.lastName" [cgiid]="userDetails?.cgiid"></app-confirmation-modal>
<app-revoke-all [laptopDetails]="laptopDetails" [accessoriesDetails]="accessoriesDetails" [softwareDetails]="softwareDetails" [userId]="userDetails?.id" [firstName]="userDetails?.firstName" [lastName]="userDetails?.lastName" [cgiid]="userDetails?.cgiid"></app-revoke-all>




<div class="page-container">

  <div class="row-container">

    <div class="user-headers">

      <div class="user-header">

        <div class="first">

          <ngx-avatars name="{{userDetails?.firstName }} {{userDetails?.lastName }}" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>

          <div class="user-name-id">

            <div class="user-name">{{userDetails?.firstName }} {{userDetails?.lastName }} </div>

            <div class="user-id">{{ userDetails?.cgiid }} </div>

          </div>

        </div>
        <div class="nav-icons position-relative">

          <button class="dropdown-main add-asset" (click)="isOptionsVisible = !isOptionsVisible">
            Action
            <img src="../../../../assets/icons/Chevron down.svg" />
          </button>


          <div *ngIf="isOptionsVisible" class="additional-options position-absolute">

            <div class="dropdown-both dropdown-btn" [ngClass]="{ 'disabled': !showAssignAsset }" [attr.disabled]="!showAssignAsset ? true : null" (click)="isOptionsVisible = !isOptionsVisible" data-bs-toggle="modal" data-bs-target="#assignAssetModal">
              <img src="../../../../assets/icons/laptop-solid 2 (1).svg" />
              Assign Assets
            </div>

            <div class="dropdown-both dropdown-btn exit-process-text" *ngIf="!showAssignAsset" (click)="isOptionsVisible = !isOptionsVisible;onRetrieveExitProcess(userDetails.id)">

              Retrieve Exit Process
            </div>

            <div class="dropdown-both dropdown-btn exit-process-text" *ngIf="showAssignAsset" (click)="isOptionsVisible = !isOptionsVisible" data-bs-toggle="modal" data-bs-target="#confirmationModal">
              <img src="../../../../assets/icons/Clip path group.svg" />
              Initiate Exit Process
            </div>

          </div>

        </div>

      </div>

    </div>

    <!--    <div class="revoke-alert" *ngIf="showRevokeAlert[userDetails?.id]">-->
    <div class="revoke-alert" *ngIf="userDetails?.exitProcessInitiated || showRevokeAlert[userDetails?.id]">
      <img class="alert-revoke-img" src="../../assets/icons/Vector-red.svg" />
      <p class="exit-pro-text">Exit process initiated and all the assets information has<br /> been sent to the user.</p>
      <div class="btn btn-revoke" data-bs-toggle="modal" data-bs-target="#revokeAllModal">
        <img src="../../assets/icons/Revoke.svg" />
        <p class="revoke-btn-text">Revoke all items</p>
      </div>
    </div>

    <div class="archive-alert">
      <img class="archive-alert-img" src="../../assets/icons/Vector-black.svg" />
      <p class="archive-text-days">The exit process has been completed successfully. The user will be auto-archived after 30 days.</p>
    </div>

    <div class="buttons">

      <button class="item1" (click)="selectItem('laptop')" [ngClass]="{'selected': selectedItem === 'laptop'}">

        <div class="laptop">Laptop</div>

      </button>

      <button class="item2" (click)="selectItem('software')" [ngClass]="{'selected': selectedItem === 'software'}">

        <div class="software">Software</div>

      </button>

      <button class="item3" (click)="selectItem('accessories')" [ngClass]="{'selected': selectedItem === 'accessories'}">

        <div class="accessories">Accessories</div>

      </button>

    </div>

    <div class="assigned">

      <app-laptop-details *ngIf="selectedItem === 'laptop'" [laptopDetails]="laptopDetails" [userId]="userDetails?.id" [firstName]="userDetails?.firstName" [lastName]="userDetails?.lastName" [cgiid]="userDetails?.cgiid" class="asd"></app-laptop-details>

      <app-software-details *ngIf="selectedItem === 'software'" [softwareDetails]="softwareDetails" [userId]="userDetails?.id" [firstName]="userDetails?.firstName" [lastName]="userDetails?.lastName" [cgiid]="userDetails?.cgiid" class="asd"></app-software-details>

      <app-accessories-details *ngIf="selectedItem === 'accessories'" [accessoriesDetails]="accessoriesDetails" [userId]="userDetails?.id" [firstName]="userDetails?.firstName" [lastName]="userDetails?.lastName" [cgiid]="userDetails?.cgiid" class="asd"></app-accessories-details>

    </div>


    <!--<div class="assigned">

    <div class="buttons">

    <button class="item1">

    <div class="laptop">Laptop</div>

    </button>

    <button class="item2">

    <div class="software">Software

            </div>

    </button>

    <button class="item3">

    <div class="accessories">Accessories</div>

    </button>

    </div>

        <app-laptop-details [userId]="userDetails.id"></app-laptop-details>

    <app-software-details></app-software-details>

    <app-accessories-details></app-accessories-details>

      </div>-->


  </div>


</div>


