<div class="Accesories " [ngClass]="{ 'selected': isSelected }" (click)="onClick()">
  <div class="inner-accesories  ">
    <div class="name-icon  ">
      <div class="name ">
        <img [src]="getAccessoryIconPath(accessories.category)" />
        <span class="namediv">{{accessories.brand}}</span>
      </div>
      <div class="Cgi">
        <span class="cgi-number ">{{accessories.cygid}}</span>

      </div>
    </div>
    <div *ngIf="accessories?.assignedTo === false" class="available ">
      <span class="available-text">Available</span>
    </div>

  </div>


  </div>



  
  


