.Accesories {
  border-radius: 0.25rem;
  background: var(--Primary-Pure-White, #FFF);
  border: 1px solid var(--secondary-Light-Grey, #E9ECEB);
  display: flex;
  padding: 0.625rem 0.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  width: 19.1875rem;
  height: 3.6875rem;
}

.selected {
  border: 2px solid blue; /* Example border styling */
  background-color: lightblue; /* Example background color */
}

.inner-accesories {
  display: flex;
 /* justify-content: space-between;
  flex-direction:column;*/
  align-items: flex-start;
  align-self: stretch;
  width: 17.6875rem;
  height: 2.4375rem;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  align-self: stretch;
  height: 1.5rem;
}

.name-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  width: 12.8125rem;
  height: 2.4375rem;
}

.namediv {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.Cgi {
  display: flex;
  padding: 0rem 2.125rem;
  align-items: flex-start;
  gap: 0.625rem;
  align-self: stretch;
  height: 0.9375rem;
  width: 12.8125rem;
}

.cgi-number {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.st{
    border:1px solid black;
}






.available {
  border-radius: 0.25rem;
  background: #CEF0DC;
  display: flex;
  height: 1.75rem;
  padding: 0.4375rem 0.625rem;
  align-items: center;
  gap: 0.625rem;
}

.available-text {
 color: #0D542A;
font-family: Roboto;
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: 1.25rem; /* 142.857% */
}
