<div class="modal fade " id="UserModal">
  <div class="Heading  ">
    <div class="title">
      <span class="Adduser-text">
        Add User
      </span>
      <img src="../../assets/icons/Add-user-modal/Close.svg" (click)="cancel()"  data-bs-dismiss="modal">

    </div>
    <hr />


  </div>

  <!--<div *ngFor="let l of list; let i = index">-->
    <form [formGroup]="userForm">
      <div class="details">
        <span class="user-added" *ngIf="addAnotherClicked && userAddedCount > 0">User Added: {{ userAddedCount }}</span>
        <div class="namesection">
          <div class="form-fields">
            <div class="first-last-name">
              <div class="first">
                <span class="firstname"> First Name*</span>
                <div class="first-input">
                  <input class="first-input-text" placeholder="First Name" formControlName="firstName" />
                </div>
              </div>
              <div class="first">
                <span class="firstname"> Last Name*</span>
                <div class="first-input">
                  <input formControlName="lastName" class="first-input-text" placeholder="Last Name" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="email-div">
          <span class="email-text">Email Id*</span>
          <div class="email-input">
            <input formControlName="email" class="email-input-text" placeholder="Enter Email ID" />
          </div>
        </div>
        <div class="cgi">
          <span class="cgi-text">CGI ID*</span>
          <div class="input-cgi">
            <input formControlName="cgiId" class="cgi-input-text" placeholder="Enter CGI ID" />
          </div>
        </div>
      </div>
      <div class="actions">
        <button class="previous-btn"  [disabled]="previousDisabled" (click)="previous()"><span>Previous</span></button>
        <div class="cancle-add">
          <button class="cancel-button" (click)="cancel()" data-bs-dismiss="modal"><span>Cancel</span></button>
          <button class="btn btn-primary addanother" (click)="addAnother()"><span>Add Another</span></button>
          <button class="btn btn-primary addclose" (click)="onSubmit()" data-bs-dismiss="modal"><span>Add & Close</span></button>
        </div>
      </div>
    </form>
    <!--</div>-->



    <div class="modal-dialog">

      <!--<div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>-->
    </div>

  </div>
