<div class="modal fade " id="UserModal">
    <div class="Heading  ">
      <div class="title">
        <span class="Adduser-text">
          Add User
        </span>
       <img src="../../assets/icons/Add-user-modal/Close.svg" data-bs-dismiss="modal">

      </div>
      <hr />
    </div>
    <div class="details ">
      <span class="user-added">User Added: 01</span>
      <div class="namesection">
        <div class="form-fields">
          <div class="first-last-name">
            <div class="first">
              <span class="firstname"> First Name*</span>
              <div class="first-input">
                <span class="first-input-text">First Name</span>
              </div>
            </div>
            <div class="first">
              <span class="firstname"> Last Name*</span>
              <div class="first-input">
                <span class="first-input-text">Last Name</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="email-div">
        <span class="email-text" >Email Id*</span>
        <div class="email-input ">
          <span class="email-input-text">Enter Email ID</span>
        </div>

      </div>

      <div class="cgi">
        <span class="cgi-text">CGI ID*</span>
        <div class="input-cgi">
          <span class="cgi-input-text">Enter CGI ID</span>

        </div>
      </div>
    </div>

    <div class="actions">
      <button class="previous-btn" ><span>Previous</span></button>
      <div class="cancle-add">
        <button class="cancel-button"><span>Cancel</span></button>
        <button class="cancel-button"><span>Add Another</span></button>
        <button class="cancel-button"><span>Add&close</span></button>




      </div>

    </div>

  <div class="modal-dialog">

    <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>-->
  </div>

</div>
