<div class="col-md-12">
  <div class="Category ">
    <div class="search-bar">
      <div class="search-bar-within">
        <img src="../assets/icons/Search.svg" alt="search-logo" class="image-icon" />
        <input type="text" placeholder="Search Devices" class="select-bar-2" [(ngModel)]="searchdevice" />
      </div>
    </div>

    <div class="page-loader" *ngIf="loading; else content">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <ng-template #content>
      <app-devices-list *ngFor="let device of DeviceData | assetfilterdevice : searchdevice" [device]="device" [isArchived]="isArchived"></app-devices-list>
    </ng-template>


  </div>
  </div>

