<div class="search-box-subheading">{{ label }} <span style="color:red">*</span>
    <button *ngIf="index > 0" type="button" class="close-button" aria-label="Close" (click)="emitRemoveDevice()">
      <img src="../../../../assets/icons/Close.svg" width="19" />
    </button>
  </div>
<ng-select class="custom search-box"
           [placeholder]="placeholder"
           [(ngModel)]="selectedOption"
           (change)="onSelectOption($event)"
           (clear)="onClearSelection()">
  <ng-container *ngIf="LaptopOptions && LaptopOptions.length > 0; else noOptions">
    <ng-option class="list-items" *ngFor="let option of LaptopOptions" [value]="option">
      {{ option?.cygid }} - {{option?.deviceName}}
    </ng-option>
  </ng-container>
  <ng-template #noOptions>
    <option value="" disabled>No options available</option>
  </ng-template>
</ng-select>
