.add-mouse-outer-container {
  display: flex;
  padding-right: 1rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  flex: 1 0 0;
  align-self: stretch;
}

.add-mouse-header {
  align-self: stretch;
}

.add-mouse-header span {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.add-mouse-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  flex: 1 0 0;
  align-self: stretch;
}

.add-mouse-footer {
  display: flex;
  padding: 1rem 0rem;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-top: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
}

.mouse-type {
  display: flex;
  width: 26.4375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
}

.stepper-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.stepper-stepper {
  gap: 16px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(233, 236, 235, 1);
  border-style: solid;
  border-width: 1.0680030584335327px;
  border-radius: 4.272012233734131px;
  justify-content: center;
  background-color: rgba(249, 249, 249, 1);
}

.stepper-stepper1 {
  gap: 4.272012233734131px;
  height: 51.26414489746094px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.stepper-laptopsolid {
  width: 24px;
  height: 24px;
}

.stepper-text {
  color: var(--dl-color-primary-gray);
  height: auto;
  font-size: 14px;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.stepper-vector16-stroke {
  width: 131px;
  height: 1px;
}

.stepper-stepper2 {
  gap: 4.272012233734131px;
  height: 51.26414489746094px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}

.stepper-serial-number {
  width: 24px;
  height: 24px;
}

.stepper-text2 {
  color: var(--dl-color-secondary-gray);
  height: auto;
  font-size: 14px;
  text-align: center;
  font-family: Roboto;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.add-mouse-content {
  display: flex;
  height: 34.6875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
  flex-shrink: 0;
  align-self: stretch;
}


:host {
  display: contents;
}

.mouse-radio-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  align-self: stretch;
  margin-bottom: 1.25rem;
  width: 26.4375rem;
}

.mouse-label {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom:0.385rem;
}

.mouse-input {
  display: flex;
  align-items: flex-start;
  gap: 9.4rem;
}

  .mouse-input input {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }

  .mouse-input label {
    position: relative;
    padding-top: 1px;
    padding-left: 25px;
    cursor: pointer;
    color: var(--Primary-Gray, #343435);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mouse-input input[type="radio"] {
    display: none;
  }

  .mouse-input label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-image: url('../../../assets/icons/Component 2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
  }

  .mouse-input input[type="radio"]:checked + label::before {
    background-image: url('../../../assets/icons/Component 2_checked.svg');
  }
.required {
  color: var(--Other-Red, #E03E2D);
}

.mouse-model-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  margin-bottom: 0.5rem;
  width:33.875rem;
}

.mouse-model-select {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
}

.select-mouse-dropdown {
  display: flex;
  width: 33.875rem;
  height: 3.8125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
}

  .select-mouse-dropdown label, .select-mouse-dropdown placeholder {
    color: var(--Primary-Gray, #343435);
    font-family: Roboto;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .select-mouse-dropdown ng-select {
    width: 100%;
    border-radius: 0.25rem;
    background: #FFF;
  }
::ng-deep .ng-select .ng-select-container, ::ng-deep .ng-select.ng-select-single .ng-select-container {
  min-height: 2.5rem;
}

.select-device-dropdown placeholder {
  opacity: 0.5;
}

.add-device-check {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  margin-bottom:1.25rem;
}

  .add-device-check input {
    display: none;
  }

  .add-device-check label img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .add-device-check label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

    .add-device-check label span {
      margin-top: 2px;
      color: var(--Primary-Blue, #28519E);
      font-family: Roboto;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
/* counter */
.quantity-counter {
  display: flex;
  width: 8.625rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  border-top: 1px solid var(--Primary-Blue, #28519E);
  border-bottom: 1px solid var(--Primary-Blue, #28519E);
  background: #FFF;
  height: 2.52rem;
  margin-bottom:1.25rem;

}

.reduce-button img {
  height: 2.6rem;
  fill: var(--Primary-White, #FFF);
  stroke-width: 1px;
  border-top: none !important;
  border-bottom: none;
  stroke: var(--Primary-Blue, #28519E);
}

.add-button img {
  height: 2.6rem;
  fill: var(--Primary-White, #FFF);
  stroke-width: 1px;
  border-top:none !important;
  border-bottom:none;
  stroke: var(--Primary-Blue, #28519E);
}


form {
  width: 100%;
  overflow-x: hidden;
}

.quantity-select label, .warranty label {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.purchaseDate {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.warranty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;
}

.warranty-input {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  width: 97%;
}

  .warranty-input input {
    display: flex;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 6.625rem;
    flex: 1 0 0;
    border-radius: 0.25rem;
    border: 1px solid var(--Secondary-Gray, #B2B2B3);
    background: #FFF;
  }

.add-device-date {
  display: flex;
  width: 33.875rem;
  align-items: flex-start;
  gap: 1.25rem;
}

.purchase-date-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;
}

  .purchase-date-section input {
    display: flex;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 6.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid var(--Secondary-Gray, #B2B2B3);
    background: #FFF;
    position: relative;
  }

input[type='date']::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.purchase-date-section img {
  margin-left: 10px; /* Adjust the value to set the space between input and icon */
  cursor: pointer;
  transform: translate(1700%,-230%);
}

.warranty-date-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
  flex: 1 0 0;
}

  .warranty-date-section label {
    color: var(--Primary-Gray, #343435);
    font-family: Roboto;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
.previous-btn {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #28519E;
  background-color: white;
}
.custom-container {
  width: 46rem;
  padding-left: 1rem;
}
  .previous-btn:active {
    border-style: none;
  }

  .previous-btn span, .cancel-button span {
    color: var(--Primary-Blue, #28519E);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

.cancel-button {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #28519E;
  background-color: white;
}

  .cancel-button:active {
    border-style: none;
  }

.button-layout {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #28519E;
  background-color: white;
}

  .button-layout:active {
    border-style: none;
  }

.submit-button-layout {
  display: flex;
  width: 5.75rem;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--Primary-Blue, #28519E);
  border: none;
}

  .submit-button-layout:active {
    border-style: none;
  }


.cancel-button span {
  color: var(--Primary-Blue, #28519E);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.next-button {
  display: flex;
  width: 5.75rem !important;
  height: 2.5rem;
  padding: 0.75rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: var(--Primary-Blue, #28519E);
  border: none;
}

  .next-button span, .submit-button-layout span {
    color: #FFF;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .next-button:active {
    border-style: none;
  }

.serial-number {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
  align-self: stretch;
}

.save-device-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}
.add-device-footer2 {
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
}

.flex-row {
  flex-direction: row;
}

.add-device-footer1 {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 0rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  border-top: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
}
.cyg-id-input {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  align-self: stretch;
  margin-bottom:1.25rem;
}

  .serial-number-input input, .cyg-id-input input {
    display: flex;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 6.625rem;
    align-self: stretch;
    border-radius: 0.25rem;
    border: 1px solid var(--Secondary-Gray, #B2B2B3);
    background: var(--secondary-Light-Grey, #E9ECEB);
  }
.alert-icon {
  width: 0.75rem;
  height: 0.75rem;
  fill: var(--Primary-Gray, #343435);
  margin-top:0.17rem;
}
.alert {
  display: flex;
  width: 24.1875rem;
  padding: 0.5rem 0.75rem;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 0.25rem;
  background: #BFE6FB;
  
}
.alert-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; 
 
}
.sno {
  color: #000;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top:1.6rem;
}
.inner-cyg-div {
  display: flex;
  width: 21.6875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem;
}
.label-cyg {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
