<div class="modal main fade" id="revokeAllModal" role="dialog" tabindex="-1" aria-labelledby="exitProcessModal" aria-hidden="true">

  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-header ">
        <h1 class="modal-title">Revoke All Items</h1>
        <button type="button" class="close-button" data-bs-dismiss="modal" aria-label="Close"><img src="../../../../assets/icons/Close.svg" /></button>
      </div>

      <div class="modal-body">
        <div class="user-details">
          <ngx-avatars class="avatar" name="Marvin McKinney" [textSizeRatio]=2.7 bgColor="#b8dde1" fgColor="#264f9d" [round]="true"></ngx-avatars>
          <div class="user-name-details">
            <div class="user-name">Marvin McKinney</div>
            <div class="user-id">CGI 098</div>
          </div>
        </div>

        <div class="stepper-container">
          <div class="stepper-stepper">
            <div class="stepper-stepper1">
              <img *ngIf="currentStep === 1" src="../../../assets/icons/laptop-solid.svg" />
              <img *ngIf="currentStep > 1" src="../../../assets/icons/completed.svg" />
              <span class="stepper-text"><span>Laptop</span></span>
            </div>
            <img class="vector-img" src="../../../assets/icons/Vector 16 (Stroke).svg" />
            <div class="stepper-stepper2">
              <img *ngIf="currentStep === 1" src="../../../../assets/icons/Software-light.svg" />
              <img *ngIf="currentStep === 2" src="../../../../assets/icons/Software.svg" />
              <img *ngIf="currentStep > 2" src="../../../assets/icons/completed.svg" />
              <span class="stepper-text2"><span>Software</span></span>
            </div>
            <img class="vector-img" src="../../../assets/icons/Vector 16 (Stroke).svg" />
            <div class="stepper-stepper1">
              <img *ngIf="currentStep === 1" src="../../../../assets/icons/placeholder.svg" />
              <img *ngIf="currentStep === 2" src="../../../../assets/icons/placeholder.svg" />
              <img *ngIf="currentStep === 3" src="../../../../assets/icons/placeholder.svg" />
              <img *ngIf="currentStep > 3" src="../../../assets/icons/completed.svg" />
              <span class="stepper-text"><span>Accessories</span></span>
            </div>
          </div>
        </div>

        <!--<app-laptop-revoke *ngIf="currentStep === 1"></app-laptop-revoke>
        <app-software-revoke *ngIf="currentStep === 2"></app-software-revoke>
        <app-accessories-revoke *ngIf="currentStep === 3"></app-accessories-revoke>-->

        <div class="footer">
          <button type="button" class="btn btn-previous" *ngIf="currentStep !== 1" (click)="previousStep()">Previous</button>
          <div class="modal-footer">
            <div class="button-container">
              <button type="button"
                      class="btn-skip"
                      *ngIf="currentStep !== 3"
                      (click)="skipStep()"
                      >
                Skip
              </button>
              <button type="button"
                      class="btn-save"
                      [attr.data-bs-dismiss]="currentStep === 3 ? 'modal' : null"
                      (click)="currentStep !== 3 ? nextStep(): null"
                      >
                {{ getButtonText() }}
              </button>
            </div>
          </div>
        </div>

      </div>
</div>
</div>
