*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Ensure it's on top of other elements */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.user {
  display: inline-flex;
  flex-direction: column;
  max-width: 1356px;
  align-items: flex-start;
  gap: 1rem;
  box-sizing: border-box;
  padding: 2.5rem 1.25rem 1.94rem 1rem;
  overflow-x: hidden;
  justify-content: center;


/*  @media (min-width: 1600px) {
    width: 100%;
    align-items: center;
  }*/
}


.page-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



.user-section {
  display: flex;
 
 
  
  gap: 1rem;
/*  background-color: pink;*/

  @media (min-width: 1600px) {
    
  
  }
}

.user-list {
  display: flex;
  width: 21.1875rem;
  border: 0.5rem;
  height: 43.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #FFF;
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
/*and this class*/
.user-data {
  display: flex;
 
  height: 43.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.5rem;
  width: 812px;
  justify-content:center;
  /*background-color: lightblue;*/
  /* Shadow */
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

/*.archive-users {
  width: 187px;
  height: 24px;
  gap: 76px;*/
 /*margin-right: 75rem;*/
/*align-items: flex-end;*/
/*}*/

.user-heading-archive{
    display: flex;
    gap: 70rem;
}

/*.archive-text-heading {
  margin-left: 0.5rem;
}*/
/*
.archive-checkbox {
  width: 18px;
  height: 18px;
  top: 3px;
  left: 3px;
  background: #28519E;
}
*/
/*.archive-checkbox:checked {
  background-color: aquamarine;*/ /* Change to whatever color you want when checked */
/*}*/


.archive-users {
  width: 187px;
  height: 24px;
  gap: 26px;
  margin-left: -11rem;
  
}

.archive-checkbox {
  display: none; 
}

.archive-text-heading {
  position: relative;
 
  cursor: pointer;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 25px;
}

.archive-text-heading:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #28519E;
  background-color: transparent;
}

.archive-checkbox:checked + .archive-text-heading:before {
  background-color: #28519E;
  content: '\2713';
  position: absolute;
  top: 0;
  left: 0; 
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

/*@media (max-width: 600px) {*/ /* Adjust the max-width to your preference */
  /*.archive-users {
   margin-left: 20rem;
  }
}*/


/*this change*/
.user-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
