<div>
  <div>
    <button type="button" (click)="openModal('exampleModal' + laptopDetails.deviceId)" class="btn revoke-button" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal' + laptopDetails.deviceId">
      <img src="../../../assets/icons/Revoke-Vector.svg" alt="Revoke Icon" style="vertical-align: middle;" />
      <span>Revoke</span>
    </button>

  </div>

 <div class="modal fade" [id]="'exampleModal' + laptopDetails.deviceId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" (hidden.bs.modal)="handleModalClose()">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Revoke</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="user-details">
            <ngx-avatars name="{{firstName}} {{lastName}}" [textSizeRatio]=3.4 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="46"></ngx-avatars>
            <div class="user-firstname-lastname-id">
              <div class="user-firstname-lastname">{{firstName}} {{lastName}}</div>
              <div class="user-cgiid">{{cgiid}}</div>
            </div>
          </div>


          <div class="assigned-device-detail-box">
            <div class="assigned-device-heading">Assigned Device Detail</div>
            <div class="details">
              <div class="iconsOfModal">
                <img src="../../../assets/icons/CYGVector.svg" /><p>{{laptopDetails.cygid}}</p>
              </div>
             
            
              <!--{laptopDetails.deviceLogId}}-->
              <div class="iconsOfModal">
                <img src="../../../assets/icons/ModelVector.svg" /><p>{{laptopDetails.model}}</p>
              </div>
              <div class="iconsOfModal">
                <img src="../../../assets/icons/windows.svg" /><p>{{laptopDetails.osName}}</p>
                
              </div>
              <div class="iconsOfModal">
                <img src="../../../assets/icons/ProcessorVector.svg" /><p>{{laptopDetails.processor}}</p>
                
              </div>
         
              <div class="storage-details">
                <div class="iconsOfModal">
                  <img src="../../../assets/icons/Ram.svg" /><p>{{laptopDetails.ram}}</p>
                </div>
                <div class="iconsOfModal">
                  <img src="../../../assets/icons/storage.svg" /><p>{{laptopDetails.storage}}</p>
                  
                </div>
                <div class="iconsOfModal">
                  <img src="../../../assets/icons/DeviceAge.svg" /> <p>Device Age {{laptopDetails.deviceAge}} years</p>
                </div>
               
              </div>
            </div>
          </div>

          <div class="device-recieved">

            <p>Item Received <span class="star">*</span></p>
            <input type="radio" id="receivedYes" name="deviceReceived" value="Yes" (click)="showYesReasonOptions()">
            <label for="receivedYes">Yes</label>

            <input type="radio" id="receivedNo" name="deviceReceived" value="No" (click)="showNoReasonOptions()">
            <label for="receivedNo">No</label>
          </div>


          <div *ngIf="showYesReason" class="reason-options">
            <p>Condition <span class="star">*</span></p>
            <div>
              <input type="radio" id="perfect" name="reasonOptions" value="Perfect"  [(ngModel)]="selectedReason">
              <label for="perfect">Perfect</label>

              <input type="radio" id="unassignable" name="reasonOptions" value="Unassignable"  [(ngModel)]="selectedReason">
              <label for="unassignable">Unassignable</label>
            </div>
          </div>

          <div *ngIf="showNoReason" class="reason-options">
            <p>Reason <span class="star">*</span></p>
            <div>
              <input type="radio" id="submittedLater" name="reasonOptions" value="Submitted Later" [(ngModel)]="selectedReason" >
              <label for="submittedLater">Will be submitted later</label>

              <input type="radio" id="lostNotReceived" name="reasonOptions" value="Lost/Not Received" class="lost" [(ngModel)]="selectedReason" >
              <label for="lostNotReceived">Lost/Not Recieved</label>
            </div>
          </div>



          <div class="comment-box">
            <p>Comment <span class="star">*</span></p>
            <input type="text" class="input-box" [(ngModel)]="newComment" placeholder="Type Here..." />
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn CloseButton" data-bs-dismiss="modal" >Cancel</button>
          <button type="submit" class="btn SubmitButton" data-bs-dismiss="modal" (click)="saveCommentAndFetchComments()">Submit</button>
        </div>

      </div>
    </div>
  </div>
</div>
