<nav class="navbar navbar-expand-lg my-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">
      <img src="../../../../assets/logos/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="center">
          <div class="inputs">
            <div class="inputf">
              <input type="radio" name="q1" id="q11" checked />
              <label class="radio-txt" for="q11">INDIA</label>
              <input type="radio" name="q1" id="q12" />
              <label class="radio-txt" for="q12">USA</label>

              <span class="slider"></span>
            </div>
          </div>
        </div>
      </ul>
    <div class="nav-icons position-relative">
      <button class="dropdown-main add-asset" (click)="isOptionsVisible = !isOptionsVisible">

        Manage Assets
        <img src="../../../../assets/icons/Chevron down.svg" />
      </button>
      
      <div *ngIf="isOptionsVisible" class="additional-options position-absolute">
        <!-- Display additional options when isOptionsVisible is true -->
        <div class="dropdown-both dropdown-btn"(click)="handleOptionClick('add-assets')" routerLink="/add-asset">
            <img class="dropdown-icn" src="../../../../assets/icons/laptop-solid 2.svg" />
            Add Assets
        </div>
        <!--<p class="dropdown-list">-->
          <div class="dropdown-both dropdown-btn"(click)="handleOptionClick('manage-assets')"routerLink="/add-asset">
            <img src="../../../../assets/icons/laptop-solid 2 (1).svg" />
            Assign Assets
            <!--<p class="centre-text dropdown-btn" ></p>-->

          </div>
      </div>
      <div class="avatar-dropdown">
        <ngx-avatars name="John Doe" [textSizeRatio]=2.7 bgColor="#b8dde1" fgColor="#264f9d" [round]="true"></ngx-avatars>
        <img src="../../../../assets/icons/arrow.svg">
      </div>
    </div>
  </div>
  
