<app-assign-asset></app-assign-asset>
<app-add-user [selectedLocation]="selectedLocation"></app-add-user>
<app-add-user-csv></app-add-user-csv>
<app-import-data></app-import-data>

<nav class="navbar navbar-expand-lg my-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">
      <img src="../../../../assets/logos/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="center">
          <div class="inputs" *ngIf="role=='Superadmin'">
            <div class="inputf">
              <input type="radio" name="q1" id="q11" value="India" (change)="onRadioChange($event)" [checked]="selectedLocation=='India'" />
              <label class="radio-txt" for="q11">INDIA</label>
              <input type="radio" name="q1" id="q12" value="USA" (change)="onRadioChange($event)" [checked]="selectedLocation=='USA'" />
              <label class="radio-txt" for="q12">USA</label>

              <span class="slider"></span>
            </div>
          </div>
        </div>
      </ul>



      <div class="nav-icons position-relative  ">
        <button class="dropdown-main add-asset " (click)="quickActionsDropdown()">
          Quick Actions
          <img src="../../../../assets/icons/Chevron down.svg" />
        </button>

        <div *ngIf="isOptionsVisible" class="additional-options position-absolute  ">
          <div class="users">
            <span class="user-text">ASSETS</span>
          </div>
          <div class="dropdown-both dropdown-btn" (click)="isOptionsVisible = !isOptionsVisible" routerLink="/add-asset">
            <img class="dropdown-icn" src="../../../../assets/icons/laptop-solid 2.svg" />
            Add Assets
          </div>
          <div class="dropdown-both dropdown-btn" (click)="isOptionsVisible = !isOptionsVisible" data-bs-toggle="modal" data-bs-target="#assignAssetModal">
            <img src="../../../../assets/icons/laptop-solid 2 (1).svg" />
            Assign Assets
          </div>

          <div class="users">
            <span class="user-text">USERS</span>
          </div>

          <div class="dropdown-both dropdown-btn" (click)="isOptionsVisible = !isOptionsVisible" data-bs-toggle="modal" data-bs-target="#UsercsvModal">
            <img src="../../../../assets/icons/uploadcsv.svg" />
            Upload User Detail CSV
          </div>


          <div class="dropdown-both dropdown-btn" (click)="isOptionsVisible = !isOptionsVisible" data-bs-toggle="modal" data-bs-target="#UserModal">
            <img src="../../../../assets/icons/laptop-solid 2 (1).svg" />
            Add User Manually
          </div>
          <div class="dropdown-both dropdown-btn" (click)="isOptionsVisible = !isOptionsVisible" data-bs-toggle="modal" data-bs-target="#importDataModal">
            <img src="../../../../assets/icons/laptop-solid 2 (1).svg" />
            Import Data
          </div>

        </div>
        <div class="avatar-dropdown" (click)="toggleDropdown()">
          <ngx-avatars name="{{firstName}} {{lastName}}" [textSizeRatio]=2.7 bgColor="#b8dde1" fgColor="#264f9d" [round]="true"></ngx-avatars>
          <img src="../../../../assets/icons/arrow.svg">
        </div>
        <div *ngIf="showDropdown == true" class="logout-dropdown position-absolute">
          <div class="dropdown-both dropdown-btn" (click)="logout()">
            <img class="logout-icn" src="../../../../assets/icons/logout-icon.svg" />
            Logout
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
