<nav class="navbar navbar-expand-lg my-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">
      <img src="../../../../assets/logos/logo.svg">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!--<div class="toggle_box">
      <li class="nav-item">
        <div class="btn-group box1" role="group" aria-label="Basic radio toggle button group">

          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
          <label class="btn rounded-pill toggle-color" for="btnradio1">INDIA</label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
          <label class="btn rounded-pill off-label" for="btnradio2">USA</label>

          <span class="slider" aria-hidden="true"></span>
        </div>
      </li>
  </div>-->
        <div class="center">
          <div class="inputs">
            <div class="inputf">
              <input type="radio" name="q1" id="q11" checked />
              <label class="radio-txt" for="q11">INDIA</label>
              <input type="radio" name="q1" id="q12" />
              <label class="radio-txt" for="q12">USA</label>

              <span class="slider"></span>
            </div>
          </div>
        </div>
      </ul>
    <div class="nav-icons position-relative">
      <button class="dropdown-main  btn-primary add-asset" (click)="isOptionsVisible = !isOptionsVisible">

        Manage Assets
        <img src="../../../../assets/icons/Chevron down.svg" />
      </button>
      
      <div *ngIf="isOptionsVisible" class="additional-options position-absolute">
        <!-- Display additional options when isOptionsVisible is true -->
        <div class="dropdown-both">
          <img src="../../../../assets/icons/laptop-solid 2.svg" />
          <p class="centre-text dropdown-btn" (click)="handleOptionClick('add-assets')">Add Assets</p>
        </div>
        <p class="dropdown-list">
        <div class="dropdown-both">
          <img src="../../../../assets/icons/laptop-solid 2 (1).svg" />
          <p class="centre-text dropdown-btn" (click)="handleOptionClick('manage-assets')">Assign Assets</p>
        </div>
      </div>
      <div class="avatar-dropdown">
        <ngx-avatars name="John Doe" [textSizeRatio]=2.7 bgColor="#b8dde1" fgColor="#264f9d" [round]="true"></ngx-avatars>
        <img src="../../../../assets/icons/arrow.svg">
      </div>
    </div>
  </div>
  
