#lastdateModal {
  border-radius: 0.25rem;
  background: #FFF;
  width: 38.375rem;
  height: 48.5rem;
  padding: 1rem 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  display:none;
  margin-left:40rem;

}

.close{
    cursor:pointer;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  width: 35.375rem;
}


.title-close {
  display: flex;
  align-items: center;
/*  gap: 19.25rem;
*/  align-self: stretch;
  width: 35.375rem;
  justify-content:space-between;
}

.title {
  color: #1E1E1E;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 177.778% */
  flex: 1 0 0;
  width:14.6875rem;
}

hr {
  background: #E9ECEB;
  width: 35.375rem;
  height: 0.0625rem;
}

.table-div {
  display: flex;
  height: 37.3125rem;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}


  .table-div table {
    border-collapse: collapse;
    width: 100%;
  }

  .table-div table {
    border-collapse: collapse;
    width: 100%;
  }

  .table-div th, .table-div td {
    border-bottom: 1px solid #E9ECEB; /* Add bottom border to each cell */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    padding: 8px; /* Add padding to cells */
  }

  .table-div thead {
    background-color: var(--Primary-Royal-Blue, #002C3F); /* Background color for thead */
    color: white; /* Text color for thead */


  }
  .table-div th {
    color: var(--Primary-White, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 3rem; /* Adjust the value as needed */
  }
  .table-div td {
    color: var(--Primary-Gray, #343435);
    font-family: Roboto;
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 3rem; /* Adjust the value as needed */
  }

.qtynumber {
  padding-right: 3rem !important; /* Adjust the value as needed */
}

.expiry {
  padding-right: 3rem !important; /* Adjust the value as needed */
}



.st {
  border: 1px solid black;
}
