<div class="modal fade " id="lastdateModal">
  <div class="heading ">
    <div class="title-close  ">
      <div class="title ">Date of Purchase</div>
      <img src="../../../assets/icons/Close.svg" style="margin-left:10rem;" data-bs-dismiss="modal" />


    </div>

    <hr />
    <div class="table-div">
      <table>
        <thead>
          <tr>
            <th>Date of Purchase</th>
            <th>Qty</th>
            <th>Expiry Date</th>
          </tr>
        </thead>
        <tbody *ngIf="singlesoftware">
          <tr *ngFor="let purchase of singlesoftware.purchaseDates">
            <td>{{ purchase.purchaseDates | date: 'yyyy-MM-dd' }}</td>
            <td class="qtynumber">{{ purchase.qty }}</td>
            <td class="expiry">{{ purchase.expiryDates | date: 'yyyy-MM-dd' }}</td>
          </tr>

    </tbody>
    </table>
  </div>


  </div>
 
  



  <div class="modal-dialog">
  </div>


</div>
