<div  class="software">
  <div class="software-details">

    <span *ngIf="(softwareData.expiryDateCountIndia > 0 && getRemainingDays(softwareData.expDateIndia) < 30 && selectedLocation==='India'); else noTotalText" class="warning-text">
      <div *ngIf="softwareData.type !== 'perpetual'" class="expiring-tag">
        <img src="../../../assets/icons/dashboard/Warning.svg" />



        {{softwareData.expiryDateCountIndia}} Expiring in   {{getRemainingDays(softwareData.expDateIndia)}} days

      </div>
    </span>
    <ng-template #noTotalText>
      <span *ngIf="softwareData.expiryDateCountUsa > 0 && getRemainingDays(softwareData.expDateUsa) < 30" class="warning-text">
        <div *ngIf="softwareData.type !== 'perpetual'" class="expiring-tag">
          <img src="../../../assets/icons/dashboard/Warning.svg" />



          {{softwareData.expiryDateCountUsa }} Expiring in   {{getRemainingDays(softwareData.expDateUsa) }} days

        </div>
      </span>
    </ng-template>

    <div class="section1">
      <div class="software-name">
        <div class="title">
          {{ softwareData.name }}
        </div>
        <div class="frame">
          <div class="tag1" *ngIf="softwareData.version !== null">
            <div class="version">
              <span class="version-text">{{ softwareData.version }}</span>
            </div>
          </div>
          <div class="tag2">
            <div class="version">
              <span class="version-text">{{ softwareData.type }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--<img [src]="getIconPath(softwareData.name)" />-->
      <img *ngIf="softwareData.softwareThumbnail" [src]="'data:image/png;base64,' + softwareData.softwareThumbnail" alt="Software Image" />

    </div>
    <div class="section2">
      <div class="assigned">
        <div class="assigned-section">
          <img src="../../../assets/icons/dashboard/icon.svg" />
          <span class="assignedtext">Assigned</span>
        </div>
        <span class="assignednumber">
          {{ selectedLocation === 'India' ? softwareData.indiaAssigned : softwareData.usaAssigned }}
        </span>
      </div>
      <div class="inventory">
        <div class="inventory-icon">
          <img src="../../../assets/icons/dashboard/Check mark.svg" />
          <span class="inventory-text">Inventory</span>
        </div>
        <div class="lowstock-container">
          <div class="lowstock" *ngIf="softwareData.inventory < 1">
            <div class="lowstocktext">Low in Stock</div>
          </div>
          <span class="assignednumber" [ngClass]="{'inventorylowstocktext': softwareData.inventory < 1}">
            {{ selectedLocation === 'India' ? softwareData.indiaInventory : softwareData.usaInventory }}
          </span>

        </div>



      </div>
    </div>
  </div>
</div>
