<div class="software">
  <div class="software-details">
    <div class="expiring-tag">
      
        <img src="../../../assets/icons/dashboard/Warning.svg" />
        <span class="warning-text">3 Expiring in 15 days</span>
    </div>
    <div class="section1">
      <div class="software-name">
        <div class="title">
          Visual Studio Code
        </div>
        <div class="frame">
          <div class="tag1">
            <div class="version">
              <span class="version-text">Version 2.0.0</span>
            </div>
          </div>
          <div class="tag2">
            <div class="version">
              <span class="version-text">Validity</span>
            </div>
          </div>
        </div>
      </div>
      <img src="../../../assets/icons/dashboard/image 154.png" />
    </div>
    <div class="section2">
      <div class="assigned">
        <div class="assigned-section">
          <img src="../../../assets/icons/dashboard/icon.svg" />
          <span class="assignedtext">Assigned</span>
        </div>
        <div class="assignednumber">88</div>

      </div>
      <div class="inventory">
        <div class="inventory-icon">
          <img src="../../../assets/icons/dashboard/Check mark.svg" />
          <span class="inventory-text">Inventory</span>
        </div>
        <div class="inventorynumber">88</div>

      </div>
    </div>
  </div>
</div>
