<div class="assign-history-card">
  <div class="username-cgiid">
    <div class="username-avatar">
      <ngx-avatars name={{historyData.assignedTo}} [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>

    </div>
    <div class="name-cgiid">
      <span class="username">{{ historyData.assignedTo }}</span>
      <span class="cgiid">{{ historyData.assignedToCGI }}</span>

    </div>
  </div>
  <div class="assigned-name">
    <div class="assignedby">
      <span class="assignedby-text">Assigned By</span>
      <span class="name-date">
        {{ historyData.assignedBy }} <br />
        {{ historyData.assignedDate | date: 'MM-dd-yyyy' }}
      </span>
    </div>
  </div>
</div>
