<div class="assign-history-card">
  <div class="username-cgiid">
    <div class="username-avatar">
      <span class="avatar-text">CW</span>
    </div>
    <div class="name-cgiid">
      <span class="username">Cameron Williamson</span>
      <span class="cgiid">CGI 098</span>

    </div>
  </div>
  <div class="assigned-name">
    <div class="assignedby">
      <span class="assignedby-text">Assigned By</span>
      <span class="name-date">
        John Doe <br />
        12-10-2023
      </span>
    </div>
  </div>
</div>
