<div class="assign-history-card">
  <div class="username-cgiid">
    <div class="username-avatar">
      <ngx-avatars name={{historyData.assignedTo}} [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33" style="text-align: center; border-radius: 100%; text-transform: uppercase; color: rgb(38, 79, 157); background-color: rgb(184, 221, 225); font: 11px / 31px Roboto; font-weight: 500; font-size: 0.8rem;"></ngx-avatars>

    </div>
    <div class="name-cgiid">
      <span class="username">{{ historyData.assignedTo }}</span>
      <span class="cgiid">{{ historyData.assignedToCGI }}</span>

    </div>
  </div>
  <div class="assigned-name">
    <div class="assignedby">
      <span class="assignedby-text">Assigned By</span>
      <span class="name-date">
        {{ historyData.assignedBy }} <br />
        {{ historyData.assignedDate | date: 'MM-dd-yyyy' }}
      </span>
    </div>
  </div>
</div>
