<div class="access-container">
  <div class="access-header">
    <div class="access-header-title">
      <span>Manage Access</span>
    </div>
    <div class="access-header-button">
      <button data-bs-toggle="modal" data-bs-target="#exampleModal">
        <img src="../../assets/icons/manage-access/assign-role.svg" />
        <span>Assign Role</span>
      </button>
    </div>
  </div>
  <div class="access-content">
    <app-admin-list-panel></app-admin-list-panel>
    <app-admin-permissions-panel></app-admin-permissions-panel>
  </div>
</div>
<app-assign-role-modal></app-assign-role-modal>
