.category-type {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  margin-bottom:0.5rem;
}
