/*.body-login {
  height: 42rem;
  width: 73.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-left: 12rem !important;
  margin-top:2rem;
}

.container-login {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 80vh;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.signin-signup {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  min-width: 238px;
  padding: 0 10px;
}


.title {
  font-size: 35px;
  color: #082c3c;
  margin-bottom: 10px;
}

.input-field {
  width: 150%;
  height: 50px;
  margin: 10px 0;
  border: 2px solid #082c3c;
  border-radius: 50px;
  display: flex;
  align-items: center;
}

  .input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
  }

  .input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    color: #444;
  }


a {
  text-decoration: none;
}

.panels-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #082c3c;
}

.panel-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  min-width: 238px;
  padding: 0 10px;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: none;
}

.panel-login h3 {
  font-size: 24px;
  font-weight: 600;
}

.panel-login p {
  font-size: 15px;
  padding: 10px 0;
}

.panel-login h1 {
  color: #fff;
  margin-top: 2rem;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
}

.content-login img {
  width: 300px;
}

@@media (max-width:779px) {
  .container {
    width: 100vw;
    height: 100vh;
  }
}

@@media (max-width:635px) {

  form {
    width: 80%;
  }

  .panels-container {
    display: none;
  }

  .signin-signup {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: 7rem;
  }

  .account-text {
    display: initial;
    margin-top: 30px;
  }

  .input-field {
    width: 90%;
  }
}

@@media (max-width:320px) {
  form {
    width: 90%;
  }
}
*/

.login-outer {
  width: 84.79rem;
  height: 48rem;
  background: url('../../assets/icons/Login/login-screen-background.svg');
  margin:0rem;
  object-fit:contain;
  object-position:center;
  position:absolute;
  z-index:-1;
  overflow-x:hidden;
  left:0rem;
  top:-8rem;
}

.CG-Logo-Main {
  border-radius: 1rem;
  background: #FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  padding: 3rem 1rem;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height:32.625rem;
  width:29.5rem;
  margin-top:10rem;
  margin-left:30rem;
}

.logo-with-tagline {
  display: flex;
  width: 27.5rem;
  height: 5.625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
}


.tagline {
  display: flex;
  align-items: center;
  gap: 0.20581rem;
}

.tag {
  color: #032C3D;
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  height:17rem;
  width:22.0625rem;
}


.sign-in-text {
  color: var(--Primary-Royal-Blue, #002C3F);
  font-family: Roboto;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


.credential-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  height: 12.75rem;
  width: 22.0625rem;
}

.cred-forgot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  height:7.75rem;
}


.email-pass {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

.email {
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-Grey, #B2B2B3);
  display: flex;
  width: 22.0625rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.625rem;
}


.pass {
  border-radius: 0.5rem;
  border: 1px solid var(--secondary-Grey, #B2B2B3);
  display: flex;
  width: 22.0625rem;
  padding: 0.75rem;
  align-items: center;
  gap: 0.625rem;
}

.forgot-pass {
  color: var(--Primary-Blue, #28519E);
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.btn {
  display: flex;
  width: 22.0625rem;
  height: 3rem;
  padding: 1rem 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  background: var(--Primary-Yellow, #FFB81C);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  color: var(--Primary-Royal-Blue, #002C3F);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


#inp {
  border: none;
  outline: none;
  width: 100%;
}

#pass {
  border: none;
  outline: none;
  width:100%;
}


 /* .btn:hover {
    background: #FFB81C;
  }
*/
