<div class="comment-card">
  <div class="icon">
    <img class="recieved" src="../../../../assets/icons/Assign-recieved.svg" />
  </div>
  <div class="comment-body">
    <div class="admin-detail">
      <div class="admin">
        <ngx-avatars name="J M" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="31"></ngx-avatars>
        <div class="admin-name">Cody Fisher</div>
      </div>
      <div class="time">08:17 PM</div>
    </div>

    <div class="comment-detail">
      <div class="action">
        Assigned To:
      </div>
      <div class="emp-name">John Doe</div>
    </div>

    <div class="comment-detail">
      <div class="content action">The laptop is in working condition</div>
    </div>
  </div>
</div>
