<div class="Device">
  <div class="Device-Section">
    <div class="Device-Frame">
      <app-search-box class="sbox" [label]="'CYG ID'" [placeholder]="'Select CYG ID'"></app-search-box>
      <div class="alert-box">
        <div class="alert-image-frame">
          <img id="alert-image" src="../../../../assets/icons/Vector.svg" />
        </div>
        <div class="alert-box-msg">
          This Device has already been assigned to another user.<br>
          Please select another device from the list.
        </div>
      </div>
      <div class="device-details">
        <div class="details-subheading">
          Selected Device Configuration:
        </div>
        <div class="details">
          <div class="device-model">
            <div class="details-icon"></div>
            <div class="details-text">Dell Precision 3470</div>
          </div>
          <div class="device-model">
            <div class="details-icon"></div>
            <div class="details-text">12th Gen Intel(R) Core(TM) i7-1270P   2.20 GHz</div>
          </div>
          <div class="device-model">
            <div class="details-icon"></div>
            <div class="details-text">16GB RAM</div>
          </div>
        </div>
      </div>
    </div>
    <app-comment-box class="Cbox"></app-comment-box>
  </div>
  <div class="Add-new">
    <img class="add-img" src="../../../../assets/icons/Add.svg" />
    <div class="add-new-text">Add Another Device</div>
  </div>
</div>
