<div class="Device" *ngFor="let device of devices; let i = index">
  <div class="Device-Section" [class.Device-Section-bottom-margin]="i !== devices.length - 1">
    <div class="Device-Frame">
      <app-laptop-search-box class="sbox"
                             [label]="'CYG ID'"
                             [placeholder]="'Select CYG ID'"
                             [LaptopOptions]="LaptopOptions"
                             (LaptopOptionSelected)="LaptopSearchBoxOptionSelected($event, i)"
                             [assignAssetForm]="assignAssetForm"
                             [index]="i"
                             (removeDevice)="removeDevice($event)">
      </app-laptop-search-box>
      <div *ngIf="SelectedLaptops[i]?.assignedTo" class="alert-box">
        <div class="alert-image-frame">
          <img id="alert-image" src="../../../../assets/icons/Vector.svg" />
        </div>
        <div class="alert-box-msg">
          This Device has already been assigned to another user.<br>
          Please select another device from the list.
        </div>
      </div>
      <div *ngIf="!SelectedLaptops[i]?.assignedTo && SelectedLaptops[i]" class="device-details">
        <div class="details-subheading">
          Selected Device Configuration:
        </div>
        <div class="details">
          <div class="device-model">
            <div class="details-icon"></div>
            <div class="details-text">{{SelectedLaptops[i]?.modelNo}}</div>
          </div>
          <div class="device-model">
            <div class="details-icon"></div>
            <div class="details-text">{{SelectedLaptops[i]?.processor}}</div>
          </div>
          <div class="device-model-same-row">
            <div class="same-row-detail">
              <div class="details-icon"></div>
              <div class="details-text">{{SelectedLaptops[i]?.ram}}</div>
            </div>
            <div class="same-row-detail">
              <div class="details-icon"></div>
              <div class="details-text">{{SelectedLaptops[i]?.storage}}</div>
            </div>
            <div class="same-row-detail">
              <div class="details-icon"></div>
              <div class="details-text">{{formattedAges[i]}} years</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-assign-laptop-comment class="sbox"
                               [assignAssetForm]="assignAssetForm"
                               [index]="i">
    </app-assign-laptop-comment>
  </div>
  <div class="Add-new" *ngIf="i === devices.length - 1" (click)="addNewDevice()">
    <img class="add-img" src="../../../../assets/icons/Add.svg" />
    <div class="add-new-text">Add Another Device</div>
  </div>
</div>
