<div class="search-user">

  <div class="search-bar">
    <div class="search-bar-within">
      <img src="../assets/icons/Search.svg" alt="search-logo" class="image-icon" />
      <input type="text" placeholder="Select User" class="select-bar-2" [(ngModel)]="filterName" />
      

     
    </div>
  </div>
  <div class=" user-name-list"  >
    <user-name-list (click)="showUserDetails(userDetails)" *ngFor="let userDetails of displayingData | filterSearchList : filterName"
                    [cgiid]="userDetails.cgiid"
                    [firstName]="userDetails.firstName"
                    [lastName]="userDetails.lastName"></user-name-list>
  </div>

</div>
