<div class="search-user ">

  <div class="search-bar">
    <div class="search-bar-within">
      <img src="../assets/icons/Search.svg" alt="search-logo" class="image-icon" />
      <input type="text" placeholder="Select User" class="select-bar-2" [(ngModel)]="filterName" />



    </div>
  </div>

  <div class="page-loader" *ngIf="loading; else content">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="user-list-class">
    <ng-template #content>
      <div class="user-name-list">
        <user-name-list (click)="showUserDetails(userDetails, i)" *ngFor="let userDetails of filteredDisplayingData | filterSearchList : filterName; let i = index"
                        [cgiid]="userDetails.cgiid"
                        [firstName]="userDetails.firstName"
                        [lastName]="userDetails.lastName"
                        [isSelected]="userDetails.isSelected">
        </user-name-list>
      </div>
    </ng-template>
  </div>

</div>
