.revoke-button {
  width: 92px;
  height: 32px;
  padding: 6px 8px; /* Corrected padding syntax */
  border-radius: 4px;
  border: 1px solid #CC1A07;
  display: flex; /* Added to make the icon and text align horizontally */
  align-items: center; /* Added to vertically center the icon and text */
  gap: 4px;
  color: #CC1A07;
  font-weight: 500;
  line-height: 18.75px;
}

/*.received input[type="radio"] {
  display: none;
}

.received label {
  display: inline-block;
  vertical-align: middle;  
  cursor: pointer;
  background-image: url('../../../assets/icons/Component 2.svg'); 
  padding-left: 30px; 
  background-repeat: no-repeat;
  background-position: left center; 
  background-size: 20px 20px;
}


.received input[type="radio"]:checked + label {
  background-image: url('../../../assets/icons/Component 2_checked.svg') 
}*/



.user-details {
  display: flex;
  flex-direction: row;
}

.user-firstname-lastname-id {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  height: 2.5rem;
  padding-left: .55rem;
}

.user-firstname-lastname {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  height: 1.3125rem;
  font-size: 1.025rem;
  font-style: normal;
  font-weight: 500;
}

.user-cgiid {
  color: var(--Adhoc-text-gray, #6D6D6D);
  height: 1rem;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.assigned-accessory-detail-box {
  margin-top: 1.2rem;
  height: auto;
  width: auto;
  border: 1px solid #B8DDE1;
  gap: 12px;
  padding: 0.62rem 0.62rem 0.12rem 0.62rem;
  background-color: #F5F8FE;
  border-radius: 4px;
}

.assigned-accessory-heading {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.details {
  height: auto;
  width: auto;
  margin-top: 1.2rem;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.storage-details {
  display: flex;
  justify-content: space-between;
}

.accessory-recieved {
  margin-top: 1rem;
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

  .accessory-recieved input[type="radio"] {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
  }

    .accessory-recieved input[type="radio"] + label {
      margin-right: 5rem;
      font-size: 16px;
      top: 0;
      color: var(--Primary-Gray, #343435);
      font-family: Roboto;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

.star {
  color: #E03E2D;
}

.comment-box {
  margin-top: 1rem;
}

.input-box {
  width: 100%;
  height: 100%;
  padding: 7px;
  border-radius: 4px;
  border: 1px solid #B2B2B3;
  gap: 106px;
}

.modal-footer {
  border: none;
}

.modal-content {
  height: auto;
}

.modal-body {
  height: 100%;
}

.reason-options {
  margin-top: 1rem;
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

  .reason-options input[type="radio"] {
    margin-right: 0.5rem;
    width: 20px;
    height: 20px;
  }

    .reason-options input[type="radio"] + label {
      margin-right: 3rem;
      font-size: 16px;
      top: 0;
      color: var(--Primary-Gray, #343435);
      font-family: Roboto;
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

.iconsOfModal {
  display: flex;
  align-items: center;
  width: 14rem;
}

  .iconsOfModal img {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    height: 19px;
  }

  .iconsOfModal p {
    margin-bottom: 0.5rem;
  }

.CloseButton {
  width: 92px;
  height: 40px;
  border-radius: 4px;
  border: 1.8px solid #28519E;
  padding: 12px, 8px, 12px, 8px;
  gap: 8px;
  color: #28519E;
  font-weight: 600;
}

.SubmitButton {
  width: 92px;
  height: 40px;
  border-radius: 4px;
  border: 1.8px solid #28519E;
  padding: 12px, 8px, 12px, 8px;
  gap: 8px;
  color: white;
  font-weight: 600;
  background-color: #28519E;
}

.wiredNotWired {
  display: flex;
}

.brand {
  display: flex;
}

.mouse-img {
  height: 19px;
}

.received input[type="radio"] {
  color: blue;
}

#receivedYes {
  height: 1rem;
  width: 1rem;
  bottom: 5rem;
  accent-color: var(--primary-blue, #28519e);
  vertical-align: middle;
  display: inline-block;
}

#receivedNo {
  height: 1rem;
  width: 1rem;
  bottom: 5rem;
  accent-color: var(--primary-blue, #28519e);
  vertical-align: middle;
  display: inline-block;
}

#perfect {
  height: 1rem;
  width: 1rem;
  bottom: 5rem;
  accent-color: var(--primary-blue, #28519e);
  vertical-align: middle;
  display: inline-block;
}

#unassignable {
  height: 1rem;
  width: 1rem;
  bottom: 5rem;
  accent-color: var(--primary-blue, #28519e);
  vertical-align: middle;
  display: inline-block;
}

#submittedLater {
  height: 1rem;
  width: 1rem;
  bottom: 5rem;
  accent-color: var(--primary-blue, #28519e);
  vertical-align: middle;
  display: inline-block;
}

#lostNotReceived {
  height: 1rem;
  width: 1rem;
  bottom: 5rem;
  accent-color: var(--primary-blue, #28519e);
  vertical-align: middle;
  display: inline-block;
}


/*.received input[type="radio"] {
  display: none;
}*/

/* Style labels to use SVG icons as background images */
/*.received label {
  display: inline-block;
  vertical-align: middle;*/ /* Align the labels vertically with the image */
/*cursor: pointer;
  background-image: url('../../../assets/icons/Component 2.svg');*/ /* Replace with path to your blue SVG icon */
/*padding-left: 30px;*/ /* Adjust this value based on the width of your image */
/*background-repeat: no-repeat;
  background-position: left center;*/ /* Align the image to the left */
/*background-size: 20px 20px;
}*/

/* Style labels for checked state */
/*.received input[type="radio"]:checked + label {
  background-image: url('../../../assets/icons/Component 2_checked.svg')*/ /* Replace with path to your blue checked SVG icon */
/*}*/


.received {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
