.header {
  width:  1,176px;
  height:  41px;
  justify: space-between;
}
.dropdown {
  width: 238px;
  height: 41px;
  padding: 10px, 16px, 10px, 16px;
  border-radius: 4px;
  border: 1px;
  gap: 16px;
  border: 1px solid #B2B2B3;
  justify-content:center;
}
