
  <div class="row">
    <div class="col-9 header">
      <div class="dropdown">
        <button class="btn">Windows Laptop</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
        <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span><img src="../../assets/icons/arrow.svg" /></span>
        </button>
      </div>
    </div>

    <div class="col form-check rightSide">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Show Archive Assets Only
      </label>
    </div>
  </div>

