<div class="heading-count">
  <div class="assigned-software-heading"*ngIf="softwareCount != 0">Assigned Software</div>
  <div class="software-count"*ngIf="softwareCount != 0">Count: {{ softwareDetails?.length }}</div>
  <!--<div class="no-laptop-message" *ngIf="softwareCount === 0">No software assigned to this user</div>-->
</div>

<div class="software-alert"*ngIf="softwareCount != 0">
  <img class ="software-alert-icon" src="../../../assets/icons/Vector-black.svg" />
  <p class="software-alert-text" >All the item below will be revoked</p>
</div>

<div *ngFor="let software of softwareDetails">
  <div class="assigned-software-detail-box">

    <div class="details">
      <p class="software-name-heading">Software Name</p>
      <p>{{software.softwareName}}</p>
      <div class="type">
        <div class="iconsOfModal">
          <img src="../../../assets//icons/versionVector.svg" />
          <p>{{software.version}}</p>
        </div>
        <div class="iconsOfModal">
          <img src="../../../assets/icons/WiredVector.svg" />
          <p>{{software.typeName}}</p>
        </div>
      </div>
      <div class="iconsOfModal">
        <img src="../../../assets/icons/CalenderVector.svg" />
        <p>{{software.assignedDate | date: 'MM-dd-yyyy'}}</p>
      </div>

      <!--<p>{{software.deviceLogId}}</p>
  <p>{{software.softwareAllocationId}}</p>-->
    </div>
  </div>



</div>
