<!-- app-search-box.component.html -->

<div class="search-box-subheading">{{ label }} <span style="color:red">*</span></div>
<input class="search-box" required type="search" [placeholder]="placeholder" aria-label="Search" (input)="onInputChange($event)">
<!-- Display filtered options -->
<ul *ngIf="filteredOptions.length > 0" class="options-list">
  <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
    {{ option.cgiid }} - {{ option.firstName }} {{ option.lastName }}
  </li>
</ul>
