<div class="search-box-subheading">{{ label }} <span style="color:red">*</span></div>
<ng-select class="custom search-box ng-select-container"
           [placeholder]="placeholder"
           [(ngModel)]="selectedOption"
           (change)="onSelectOption($event)"
           (clear)="onClearSelection()">
  <ng-container *ngIf="options && options.length > 0  && options[0].cgiid ; else noOptions">
    <ng-option class="list-items" *ngFor="let option of options" [value]="option">
      {{ option?.cgiid }} - {{ option?.firstName }} {{ option?.lastName }}
    </ng-option>
  </ng-container>
  <ng-template #noOptions>
    <!-- Add any content you want to display when there are no options -->
    <option value="" disabled>No options available</option>
  </ng-template>
</ng-select>
