.search-box-subheading {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-box {
  display: flex;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 6.625rem;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Gray, #B2B2B3);
  background: #FFF;
}

  .search-box::placeholder {
    flex: 1 0 0;
    color: var(--Primary-Gray, #343435);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
  }
