<div class="search-box-subheading">{{ label }} <span style="color:red">*</span></div>
<!--<input class="search-box"
       required
       type="search"
       [placeholder]="placeholder"
       [(ngModel)]="selectedOption"
       aria-label="Search"
       (input)="onInputChange($event)">
<ul *ngIf="filteredOptions.length > 0" class="options-list">
  <li class="list-items" *ngFor="let option of filteredOptions" (click)="selectOption(option)">
    {{ option.cgiid }} - {{ option.firstName }} {{ option.lastName }}
  </li>
</ul>-->
<ng-select class="search-box" [placeholder]="placeholder" [(ngModel)]="selectedOption" (change)="onSelectOption($event)">
  <!--<option value="" selected class="placeholder">Select Device Name</option>-->
  <ng-option class="list-items" *ngFor="let option of options" [value]="option">
    {{ option.cgiid }} - {{ option.firstName }} {{ option.lastName }}
  </ng-option>
</ng-select>
