<div class="outer-box">
  <div class="heading-text">
    Add New Device Details
  </div>
  <div class="info-box">
    <span class="info-icon">
      <img src="../../../../assets/icons/info-icon.svg" />
    </span>
    <div class="info-content">
      Please Provide the model number of the laptop along with details about its processor configuration.
    </div>
  </div>
  <form class="device-form">
    <div class="form-field">
      <label class="label" for="deviceName">Device Name <span class="required">*</span></label>
      <input type="text" id="deviceName" class="input-field" placeholder="Enter device name" required>
    </div>
    <!-- Add more form fields as needed -->
    <div class="form-field-2">
      <div class="input-small">
        <label class="label" for="brand">Brand <span class="required">*</span></label>
        <input type="text" id="brand" class="input-field" placeholder="Enter Brand Name" required>
      </div>
      <div class="input-small">
        <label class="label" for="modelNo">Model No. <span class="required">*</span></label>
        <input type="text" id="modelNo" class="input-field" placeholder="Enter Model No." required>
      </div>
    </div>

    <div class="form-field3">
      <label class="label" for="ramSelector">RAM (GB) <span class="required">*</span></label>
      <div class="ram-selector">
        <button type="button" class="ram-button" value="16">16</button>
        <button type="button" class="ram-button" value="32">32</button>
        <button type="button" class="ram-button" value="64">64</button>
        <!-- Add more buttons if needed -->
        <div class="ram-other">
          <label for="otherRam">Other</label>
          <input type="text" id="otherRam" class="ram-other-input-field" placeholder="Other" />
        </div>

      </div>
    </div>

    <div class="form-field">
      <label class="label" for="processor">Processor <span class="required">*</span></label>
      <input type="text" id="processor" class="input-field" placeholder="Enter Processor " required>
    </div>

    <div class="add-button">
      <button type="submit"><span>Add</span></button>
    </div>

  </form>
</div>
