<div class="search-box-subheading">{{ label }} <span style="color:red">*</span></div>
<ng-select class=" custom search-box"
           [placeholder]="placeholder"
           [(ngModel)]="selectedOption"
           (change)="onSelectOption($event)"
           (clear)="onClearSelection()">
  <ng-option class="list-items" *ngFor="let option of SoftwareVersionOptions" [value]="option">
    {{ option }}
  </ng-option>
</ng-select>

<div *ngIf="softwareWarning==true" class="alert-box">
  <div class="alert-image-frame">
    <img id="alert-image" src="../../../../assets/icons/Vector.svg" />
  </div>
  <div class="alert-box-msg">
    This Software has already been assigned to maximum no. of users.<br>
    Please select another software from the list.
  </div>
</div>
