<app-archive-modal [cygid]="deviceDetails.cygid"></app-archive-modal>
<app-unrchivemodal [cygid]="deviceDetails.cygid"></app-unrchivemodal>

<div class="spec">
  <div class="mb-3 specification" *ngIf="!isArchived">
    Device Summary
  </div>

  <div class="mb-3 specification" *ngIf="isArchived">
    Specification
  </div>



  <div class="spec-card mb-3 ">
    <div class="status-container">
      <div class="status-info">
        <span class="status-label">Status</span>
        <span class="status-value">{{deviceDetails?.status?.type}}</span>
      </div>
    </div>
    <div class="button-container">

      <button class="custom-button" type="button" *ngIf="!isArchived && deviceDetails?.status?.type!=='Discarded'" data-toggle="modal" data-target="#exampleModal">
        <img src="../../assets/icons/archive.svg" />
        Archive
      </button>
      <button class="custom-button" *ngIf="deviceDetails?.status?.type === 'Discarded' " data-toggle="modal" data-target="#unarchive">
        <img src="../../assets/icons/archive.svg" />
        Unarchive
      </button>
    </div>
  </div>
  <div class="age mb-3">
    <span class="half-asset">
      <img class="asset-image" src="../../assets/icons/assetAge.svg" />
      <span class="asset-age">Asset Age</span>
    </span>

    <span class="years">{{deviceDetails?.ageInYears}} Years </span>

  </div>


  <div class="spec-outer">
    <app-spec-info></app-spec-info>

  </div>
</div>





