<app-archive-modal [cygid]="deviceDetails?.cygid" (modalClosed)="handleModalClosed()"></app-archive-modal>
<app-unrchivemodal [cygid]="deviceDetails?.cygid" (modalClosed)="handleModalClosed()"></app-unrchivemodal>

<div class="spec">
  <div class="mb-3 specification" *ngIf="!isArchived">
    Device Summary
  </div>

  <div class="mb-3 specification" *ngIf="isArchived">
    Specification
  </div>



  <div class="spec-card  ">
    <div class="status-container">
      <div class="status-info">
        <span class="status-label">Status</span>
       
      </div>
    </div>
  

  </div>
  <ng-select (change)="handleSelectionChange($event)" [(ngModel)]="selectedOption">
    <ng-option [value]="'Active'">
      <img class="asset-image" src="../../../../../assets/icons/Assets/active.svg" />

      Active
    </ng-option>
    <!--<ng-option [value]="'Unassignable'">Unassignable</ng-option>-->

    <ng-option *ngIf="!isArchived && deviceDetails?.status?.type!=='Discarded'" value="Archive">
      <img class="asset-image" src="../../../../../assets/icons/Assets/archive.svg" />

      Archive
    </ng-option>
    <ng-option *ngIf="deviceDetails?.status?.type === 'Discarded'" value="Unarchive">
      <img class="asset-image" src="../../../../../assets/icons/Assets/unarchive.svg" />

      Unarchive

    </ng-option>
  </ng-select>


  <div class="age">
    <span class="half-asset">
      <img class="asset-image" src="../../../../../assets/icons/Assets/Asset-age.svg" />
      <span class="asset-age">Asset Age</span>
    </span>

    <span class="years">{{deviceDetails?.ageInYears}} Years </span>

  </div>


  <div class="spec-outer">
    <app-spec-info></app-spec-info>

  </div>
</div>





