<app-accesories-filter (applyClicked)="onApplyClicked($event)"></app-accesories-filter>
<app-new-comments [accessoryId]="accessoryId"></app-new-comments>
<app-archive-modal [cygid]="cygid" (modalClosed)="handleModalClosed()"></app-archive-modal>
<app-unrchivemodal [cygid]="cygid" (modalClosed)="handleModalClosed()"></app-unrchivemodal>



<div class="Accesories-details ">
  <div class="software-heading  ">
    <div class="software-title ">
      <div class="heading ">
        <div class="Accesories-text">
          Accessories

        </div>
      </div>
    </div>
    <div class="asset-header">
      <div class="btn-group toggle-button" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked [(ngModel)]="selectedView" value="card">
        <label class="btn btn-outline-primary custom-label" for="btnradio1"><span>Card View</span></label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" [(ngModel)]="selectedView" value="table">
        <label class="btn btn-outline-primary custom-label" for="btnradio2"><span>Table View</span></label>
      </div>

      <div class="filter-section">
        <div class="justify-content-end form-check rightSide" *ngIf="selectedView === 'card'">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="Archived()">
          <label class="form-check-label" for="flexCheckDefault">
            Show Archive Assets Only
          </label>
        </div>
        <div class="search-bar" *ngIf="selectedView === 'table'">
          <img src="../../../assets/icons/Software/Search.svg" />

          <input type="text" id="filter-text-box" placeholder="Search" [(ngModel)]="searchValue" />
        </div>
        <div class="export-button" *ngIf="selectedView === 'table'">
          <button (click)="exporttoexcel()">
            <img src="../../../../assets/icons/Software/excel-icon.svg" />
            <span>Export to Excel</span>
          </button>
        </div>
        <div class="filter-button" data-bs-toggle="modal" data-bs-target="#accesoriesfilterModal">
          <button>
            <img src="../../../../assets/icons/Software/filter-icon.svg" />
            <span>Filter</span>
          </button>
        </div>
      </div>
    </div>

  </div>
  <div class="Accesories" *ngIf="selectedView === 'card'">
    <div class="category ">
      <div class="category-div ">
        <div class="text-field">
          <div class="input">
            <div class="input-frame">
              <img src="../../../assets/icons/Software/Search.svg" />
              <input class="input-text" placeholder="Search By Brand " [(ngModel)]="filterValue" (input)="applyAccessoryFilter($event)" />

            </div>
          </div>
        </div>

        <div *ngFor="let accessory of filteredAccessories ? filteredAccessories : accessories">
          <app-accesoriesname [accessories]="accessory" (cardClicked)="onCardClicked($event)"></app-accesoriesname>
        </div>





      </div>
    </div>

    <div class="specification ">
      <div class="summary">
        <span class="Accesories-summary">Mouse Detail</span>
      </div>
      <div class="specification-div  ">

        <div class="spec-card  ">
          <div class="status-container">
            <div class="status-info">
              <span class="status-label">Status</span>

            </div>
          </div>


        </div>
        <ng-select class="ng-selectclass" (change)="handleSelectionChange($event)" [(ngModel)]="selectedOption" [clearable]="false" [searchable]="false">
          <ng-option [value]="'Active'">
            <img class="asset-image" src="../../../../../assets/icons/Assets/active.svg" />

            Active
          </ng-option>
          <ng-option [value]="'Unassignable'">
            <img class="asset-image" src="../../../../../assets/icons/Assets/unassignable.svg" />
            Unassignable
          </ng-option>


          <ng-option *ngIf="singleSelected && singleSelected[0]?.isArchived === false" value="Archive">
            <img class="asset-image" src="../../../../../assets/icons/Assets/archive.svg" />

            Archive
          </ng-option>

          <ng-option *ngIf="singleSelected && singleSelected[0]?.isArchived === true" value="Unarchive">
            <img class="asset-image" src="../../../../../assets/icons/Assets/unarchive.svg" />

            Unarchive

          </ng-option>

        </ng-select>






        <div class="AssetAge">
          <div class="AssetAgeFrame">
            <img src="../../../assets/icons/Accessories/assetage.svg" />
            <span class="Assettext">Asset Age</span>

          </div>
          <span *ngIf="singleSelected && singleSelected[0]" class="agenumber"> {{ calculateYear(singleSelected[0].purchaseDate | date: 'yyyy') }}.{{ calculateMonth(singleSelected[0].purchaseDate | date: 'MM') }} Years</span>
        </div>
        <div class="type-brand ">
          <div class="type-brand1 ">
            <div class="type ">
              <div class="type-icon-text ">
                <div class="type-icon-text-inner">
                  <img src="../../../assets/icons/Accessories/typeicon.svg" />
                  <span class="type-text">Type</span>
                  <span *ngIf="singleSelected && singleSelected[0]" class="type-name">{{ singleSelected[0].isWired ? 'Wired' : 'Wireless' }}</span>

                </div>
              </div>
            </div>
            <div class="brand">
              <div class="brand-icon-text">
                <div class="type-icon-text-inner">
                  <img src="../../../assets/icons/Accessories/brand.svg" />
                  <span class="type-text">Brand</span>
                  <span *ngIf="singleSelected && singleSelected[0]" class="type-name">{{ singleSelected[0].brand}}</span>

                </div>
                <span *ngIf="singleSelected && singleSelected[0]" class="brand-number">{{ singleSelected[0].qty}}</span>

              </div>
            </div>
          </div>
        </div>

        <div class="type-brand ">
          <div class="type-brand1 ">
            <div class="type ">
              <div class="type-icon-text ">
                <div class="type-icon-text-inner">
                  <img src="../../assets/icons/Accessories/calendar.svg" />
                  <span class="type-text">Date Of Purchase</span>
                  <span *ngIf="singleSelected && singleSelected[0]" class="type-name">{{ singleSelected[0].purchaseDate | date: 'dd-MM-yyyy' }}</span>

                </div>
              </div>
            </div>
            <div class="brand">
              <div class="brand-icon-text">
                <div class="type-icon-text-inner">
                  <img src="../../assets/icons/Accessories/calendar.svg" />
                  <span class="type-text">Warranty Year</span>
                  <span *ngIf="singleSelected && singleSelected[0]" class="type-name">
                    {{ calculateYearDifference(singleSelected[0].purchaseDate | date: 'yyyy', singleSelected[0].warrantyDate| date: 'yyyy') }} Year {{ calculateMonthDifference(singleSelected[0].purchaseDate | date: 'MM', singleSelected[0].warrantyDate| date: 'MM') }} Months
                  </span>
                </div>
                <!--<span class="brand-number">100</span>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="assign-history">
      <div class="history-comment">
        <div class="history-heading">
          Assign History
        </div>
        <button class="button-customize" data-bs-toggle="modal" data-bs-target="#exampleModal">

          <img src="../../../../../assets/icons/Assets/Comment.svg" />
          <span class="comments_text"> Comments </span>
          <img src="../../../../../assets/icons/Assets/Chevron.svg" />

        </button>
      </div>
      <div *ngIf="historydata" class="history-cards">
        <app-assignhistory *ngFor="let history of historydata" [historydata]="history"></app-assignhistory>
      </div>
    </div>
  </div>


  <div *ngIf="selectedView === 'table'">
    <app-table-view [rowData]="rowData" [colDefs]="colDefs" [searchValue]="searchValue"></app-table-view>
  </div>



</div>


