<div class="devices-list-container">

  <button #firstButton class="devices-list-container-items" (click)="onDeviceClick(device?.cygid) " [attr.data-name]="device?.cygid">
    <ng-container *ngIf="device.operatingSystem=='Windows'">
      <img src="../../../../../../assets/icons/Assets/windows.svg" />
    </ng-container>
    <ng-container *ngIf="device.operatingSystem=='Mac'">
      <img src="../../../../../../assets/icons/Assets/apple.svg" />
    </ng-container>
    <ng-container *ngIf="device.operatingSystem.osname=='ChromeBook'">
      <img src="../../../../../../assets/icons/Assets/GoogleChromeBook.svg" />
    </ng-container>
    <div class="devices-detail">
      <p class="devices-name">{{device?.cygid}} </p>


    </div>
    <div *ngIf="device?.status === 'Not Assigned'" class="status-outer available">
      <span>Available</span>
    </div>
  </button>


</div>
