<div class="modal fade " id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="filtersection">
    <div class="tab">
      <div class="filtertab">
        <img src="../../../../../assets/icons/Assets/Filter.svg" />
        <div class="filtertext">Filter</div>
        <button type="button" class="close" data-dismiss="modal">
          <img src="../../../assets/icons/Close.svg" style="margin-left:14rem;" data-bs-dismiss="modal" />
        </button>
      </div>
    </div>

  </div>
  <div class="criteria">
    <div class="criteria-text">
      <span class="text">Refine the assets by implementing specific criteria.</span>
    </div>
    <div class="scrolling">


      <app-accordion>
        <app-accordion-item title="Operating System">
          <div class="filter-checkbox-outer">
            <div *ngFor="let status of operatingSystem" class="filter-checkbox">
              <input class="filter-checkbox-input" type="checkbox" id="{{status}}" (change)="toggleCheckbox(status, 'operatingSystem')">
              <label class="filter-checkbox-label" for="{{status}}">
                <img *ngIf="selectedCheckboxes['operatingSystem'].includes(status)" src="../../../../../assets/icons/checkbox-checked.svg" />
                <img *ngIf="!selectedCheckboxes['operatingSystem'].includes(status)" src="../../../../../assets/icons/checkbox-unchecked.svg" />
                <span>{{status}}</span>
              </label>
            </div>
          </div>
        </app-accordion-item>
        <app-accordion-item title="Device Status">
          <div class="filter-checkbox-outer">
            <div *ngFor="let status of deviceStatus" class="filter-checkbox">
              <input class="filter-checkbox-input" type="checkbox" id="{{status}}" (change)="toggleCheckbox(status, 'deviceStatus')">
              <label class="filter-checkbox-label" for="{{status}}">
                <img *ngIf="selectedCheckboxes['deviceStatus'].includes(status)" src="../../../../../assets/icons/checkbox-checked.svg" />
                <img *ngIf="!selectedCheckboxes['deviceStatus'].includes(status)" src="../../../../../assets/icons/checkbox-unchecked.svg" />
                <span>{{status}}</span>
              </label>
            </div>
          </div>
        </app-accordion-item>
        <app-accordion-item title="Processor">
          <div class="filter-checkbox-outer">
            <div *ngFor="let value of uniqueProcessor" class="filter-checkbox">
              <input class="filter-checkbox-input" type="checkbox" id="{{value.name}}" (change)="toggleCheckbox(value.name, 'uniqueProcessor')">
              <label class="filter-checkbox-label" for="{{value.name}}">
                <img *ngIf="selectedCheckboxes['uniqueProcessor'].includes(value.name)" src="../../../../../assets/icons/checkbox-checked.svg" />
                <img *ngIf="!selectedCheckboxes['uniqueProcessor'].includes(value.name)" src="../../../../../assets/icons/checkbox-unchecked.svg" />
                <span>{{value.name}}</span>
              </label>
            </div>
          </div>
        </app-accordion-item>
        <app-accordion-item title="Date of Purchase">
          <div class="filter-checkbox-outer">
            <div class="date-filter-outer">
              <div class="date-filter">
                <input type="text" placeholder="From Date" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="from" (change)="toggleCheckbox(from, 'fromDate')" />
                <img src="../../../../../assets/icons/calendar.svg" />
              </div>
            </div>
            <div class="date-filter-outer">
              <div class="date-filter">
                <input type="text" placeholder="To Date" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="to" (change)="toggleCheckbox(to, 'toDate')" />
                <img src="../../../../../assets/icons/calendar.svg" />
              </div>
            </div>
          </div>
        </app-accordion-item>
      </app-accordion>
    </div>
    <div class="filter-footer">
      <div class="save-cancel-button">
        <button type="button" class="filter-cancel-button"><span>Cancel</span></button>
        <button type="button" class="filter-save-button" (click)="handleClick()" data-dismiss="modal"><span>Apply</span></button>
      </div>
    </div>

  </div>





  <div class="modal-dialog">

  </div>
  

</div>

