<div class=" col-md-12 d-flex ">
  <div class="specc col-md-5 mb-3">
    <div class="col-md-12 d-flex">
      <span class="rectangle col-md-6">
        <!-- Content for the left span -->
      </span>
      <span class="model-count ms-auto" *ngIf="modelCount !== undefined">
        {{ modelCount }}
      </span>
    </div>
    <p class="heading">Model</p>

    <span class="values">
      {{deviceDetails.deviceModel.deviceName}}

      <img class="specimage" src="../../assets/icons/spec-info.svg" />
    </span>

  </div>
  <div class="specc col-md-5 mb-3 mx-2">
    <span class="rectangle ">

    </span>

    <p class="heading">Serial No.</p>
    <span class="value">{{deviceDetails.serialNumber}}</span>

  </div>



</div>
<div class="specc col-md-12 mb-3">
  <span class="rectangle ">

  </span>


  <p class="heading">Processor</p>
  <span class="value" >{{deviceDetails.deviceModel.processor}}</span>
 
</div>

<div class=" col-md-12 d-flex ">
  <div class="specc col-md-5 mb-3">
    <span class="rectangle ">

    </span>


    <p class="heading">RAM</p>
    <span class="value">{{deviceDetails.deviceModel.ram}}</span>
  
  </div>
  <div class="specc col-md-5 mb-3 mx-2">
    <span class="rectangle ">

    </span>

    <p class="heading">Storage</p>
    <span class="value">{{deviceDetails.deviceModel.storage}}</span>

  </div>



</div>
<div class=" col-md-12 d-flex ">
  <div class="specc col-md-5 mb-3">
    <span class="rectangle ">

    </span>


    <p class="heading">Date of Purchase</p>
    <span class="value">{{ getFormattedPurchasedDate() }}</span>

  </div>
  <div class="specc col-md-5 mb-3 mx-2">
    <span class="rectangle ">

    </span>

    <p class="heading">Warranty Year</p>
    <span class="value">{{deviceDetails.warrantyRemaining}}</span>

  </div>



</div>




