<div class=" col-md-12 d-flex ">
  <div class="specc col-md-5 mb-3">
    <span class="rectangle ">

    </span>
    

    <p>Model</p>
    <span class="values">{{deviceDetails?.deviceModel?.deviceName}} <img class="specimage" src="../../assets/icons/spec-info.svg" /></span>
   
  </div>
  <div class="specc col-md-5 mb-3 mx-2">
    <span class="rectangle ">

    </span>

    <p>Serial No.</p>
    <span >{{deviceDetails?.serialNumber}}</span>

  </div>



</div>
<div class="specc col-md-12 mb-3">
  <span class="rectangle ">

  </span>


  <p>Processor</p>
  <span >{{deviceDetails?.deviceModel?.processor}}</span>
 
</div>

<div class=" col-md-12 d-flex ">
  <div class="specc col-md-5 mb-3">
    <span class="rectangle ">

    </span>


    <p>RAM</p>
    <span >{{deviceDetails?.deviceModel?.ram}}</span>
  
  </div>
  <div class="specc col-md-5 mb-3 mx-2">
    <span class="rectangle ">

    </span>

    <p>Storage</p>
    <span >{{deviceDetails?.deviceModel?.storage}}</span>

  </div>



</div>
<div class=" col-md-12 d-flex ">
  <div class="specc col-md-5 mb-3">
    <span class="rectangle ">

    </span>


    <p>Date of Purchase </p>
    <span >{{deviceDetails?.purchasedDate}}</span>
    
  </div>
  <div class="specc col-md-5 mb-3 mx-2">
    <span class="rectangle ">

    </span>

    <p>Warranty Year</p>
    <span >{{deviceDetails?.warrantyDate}}</span>

  </div>



</div>




