.assetcolumns {
  
  display: flex;
  height: 40.25rem;
  align-items: flex-start;
 
  flex-shrink: 0;
  
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  margin-bottom: 1rem;
}

.ng-select {
  
  display: flex;
 width:238px;
  
  gap: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--Secondary-Gray, #B2B2B3);
  font-family: Roboto;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.rightSide {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-check-input {
  border-color: #28519E;
}

.btn {
  border: 0px;
}

  .btn:focus {
    outline-color: transparent;
  }

