

<div class="asset-header">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked [(ngModel)]="selectedView" value="card">
    <label class="btn btn-outline-primary" for="btnradio1">Card View</label>
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" [(ngModel)]="selectedView" value="table">
    <label class="btn btn-outline-primary" for="btnradio2">Table View</label>
  </div>
  <div class="filter-section">
    <div class="justify-content-end form-check rightSide" *ngIf="selectedView === 'card'">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="isArchived" (change)="onCheckboxChange($event)">
      <label class="form-check-label" for="flexCheckDefault">
        Show Archive Assets Only
      </label>
    </div>
    <div class="search-bar">

    </div>
    <div class="export-button" *ngIf="selectedView === 'table'">
      <button>Export to excel</button>
    </div>
    <div class="filter-button">
      <button>Filter</button>
    </div>
  </div>
</div>
    
<div class="assetcolumns" *ngIf="selectedView === 'card'">
  <div class="col-md-12 d-flex">
    <div class="col-md-3 ">
      <app-devices #appDevices [isArchived]="isArchived" [selectedItem]="selectedItem"></app-devices>
    </div>
    <div class="col-md-4 mx-2">
      <app-specification [isArchived]="isArchived"></app-specification>
    </div>
    <div class="col-md-5 ">
      <app-assign-history></app-assign-history>
    </div>
  </div>
</div>

<div *ngIf="selectedView === 'table'">
  <app-table-view></app-table-view>
</div>


