
<div class="row">
  <div class="col-9 header">
    <div class="dropdown">
      <button class="btn">Windows Laptop</button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
      <button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span><img src="../../assets/icons/arrow.svg" /></span>
      </button>
    </div>
  </div>

  <div class="col-3 d-flex justify-content-end form-check rightSide">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [(ngModel)]="isArchived" (change)="onCheckboxChange($event)" >
    <label class="form-check-label" for="flexCheckDefault">
      Show Archive Assets Only
    </label>
  </div>
</div>
<div class="assetcolumns">
  <div class="col-md-12 d-flex">
    <div class="col-md-3 md-3">
      <app-devices #appDevices></app-devices>
    </div>
    <div class="col-md-4 mx-3">
      <app-specification [isArchived]="isArchived"></app-specification>
    </div>
    <div class="col-md-5 ">
      <app-assign-history></app-assign-history>
    </div>
  </div>
</div>


