<div class=" container-fluid Asset st ">
  <div class="Type row">
    <div class="Heading">
      <div class="round">
        <img [src]="getIconPath(accessoriesData.name)" />
      </div>

      <span class="windows-text">{{accessoriesData.name}}</span>
    </div>
    <div class="container-fluid">
      <div class="stock-section row">
        <div class="col-6 Assigned">
          <img src="../../../assets/icons/dashboard/icon.svg" />
          <span class="Assigned-text">Assigned</span>

          <div class="Assigned-number">{{ selectedLocation === 'India' ? accessoriesData.assignedIndia : accessoriesData.assignedUSA }}</div>
        </div>
        <div class=" col-6 inventory">
          <img src="../../../assets/icons/dashboard/Check mark.svg" />
          <span class="Inventory-text">


            Inventory
          </span>

          <!--<div class="lowstock-container me-0">
    <div class="lowstock  ms-auto" *ngIf="(accessoriesData.total-accessoriesData.assigned) < 1">
      <div class="lowstocktext ">Low in Stock</div>
    </div>
    <div class="Inventory-number ms-auto p-0" [ngClass]="{'inventorylowstocktext': (accessoriesData.total - accessoriesData.assigned) < 1}">
      {{ selectedLocation === 'India' ? accessoriesData.totalIndia - accessoriesData.assignedIndia : accessoriesData.totalUSA - accessoriesData.assignedUSA }}
    </div>
  </div>-->
          <div class="lowstock-container me-0">
            <div class="lowstock ms-auto" *ngIf="(accessoriesData.totalIndia - accessoriesData.assignedIndia) < 1 && selectedLocation === 'India'; ">
              <div class="lowstocktext">Low in Stock</div>
            </div>

            <div *ngIf="selectedLocation === 'India'; else noTotalText" class="Inventory-number ms-auto p-0" [ngClass]="{'inventorylowstocktext': (accessoriesData.totalIndia - accessoriesData.assignedIndia) < 1}">
              {{ accessoriesData.totalIndia - accessoriesData.assignedIndia }}
            </div>

            <ng-template #noTotalText>
              <div class="lowstock ms-auto" *ngIf="(accessoriesData.totalUSA - accessoriesData.assignedUSA) < 1">
                <div class="lowstocktext">Low in Stock</div>
              </div>

              <div class="Inventory-number ms-auto p-0" [ngClass]="{'inventorylowstocktext': (accessoriesData.totalUSA - accessoriesData.assignedUSA) < 1}">
                {{ accessoriesData.totalUSA - accessoriesData.assignedUSA }}
              </div>
            </ng-template>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
