.Asset {
  border-bottom: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: var(--Primary-White, #FFF);
  display: flex;
  height: 7.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  flex: 1 0 0;
  width: 21.1875rem;
}

.Type {
  display: flex;
/*  padding: 8px;
*/  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.Heading {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.windows-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.number {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.stock-section {
  padding-bottom: 8px;
}



.Assigned-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Assigned-number {
  color: var(--Primary-Gray, #343435);
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.25rem;
}


.Inventory-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;

}


.round {
  width: 2.25rem;
  height: 2.25rem;
  flex-shrink: 0;
  border-radius: 0.42856rem;
  background: #F5F7FA;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left:-0.8rem;
}

.Inventory-number {
  color: var(--Primary-Gray, #343435);
  text-align: right;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inventory {
  text-align: right;
}

.lowstock-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.25rem; 
}

.lowstock {
  display: flex;
  height: 1.75rem;
  padding: 0.4375rem 0.625rem;
  align-items: center;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  background: #FFE8E8;
}

.lowstocktext {
  color: #CC1A07;
  text-align: right;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.inventorylowstocktext {
  color: #CC1A07;
  text-align: right;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
