<div class="Accessories-Section" *ngFor="let accessory of accessories; let i = index">
  <div class="form-fields" [class.Accessory-Section-bottom-margin]="i !== accessories.length - 1">
    <app-accessories-search-box class="sbox"
                                [label]="'Accessories'"
                                [placeholder]="'Select Accessories'"
                                [AccessoryOptions]="AccessoryOptions"
                                [assignAssetForm]="assignAssetForm"
                                (AccessoryOptionSelected)="AccessorySearchBoxOptionSelected($event,i)"
                                [index]=i
                                (removeAccessory)="removeAccessory($event)">
    </app-accessories-search-box>

    <app-accessory-brandy-search-box class="sbox"
                                     *ngIf="selectedId"
                                     [label]="'Brand'"
                                     [placeholder]="'Select Brand'"
                                     [selectedId]="selectedId"
                                     [AccessoryBrandOptions]="BrandOptions[i]"
                                     [uniqueBrandsArray]="uniqueBrandsArray"
                                     (AccessoryBrandOptionSelected)=" AccessoryBrandSearchBoxOptionSelected($event,i)"
                                     [assignAssetForm]="assignAssetForm"
                                     [index]=i
                                     [AccessoryBrands]="AccessoryBrands"
                                     >
    </app-accessory-brandy-search-box>
    <!--<div class="search-box-subheading type" *ngIf="selectedId">
      Mouse Type<span style="color:red">*</span>
      <div class="os-input">
        <input type="radio" name="osType" id="windowsRadio" value="true" [(ngModel)]="isWired" (change)="setNewAccessoryId()">
        <label for="windowsRadio">Wired</label>
        <input type="radio" name="osType" id="macRadio" value="false" [(ngModel)]="isWired" (change)="setNewAccessoryId()">
        <label for="macRadio">Wireless</label>
      </div>
    </div>-->
    <div class="search-box-subheading" *ngIf="selectedId">Device ID<span style="color:red">*</span></div>
    <input class="custom" *ngIf="selectedId" disabled placeholder="Device ID" [value]="selectedCygid" />
    <div class="comment-subheading">Comment</div>
    <input class="comment-input-box"
           required
           placeholder="Add Comment"
           aria-label="Comment"
           (change)="onInputChangeCommentBox($event,i)"
           [value]="!commentText[i]? '': commentText[i]"
           style="resize: none">

  </div>
  <div class="Add-new" *ngIf="i === accessories.length - 1" (click)="addNewAccessory()">
    <img class="add-img" src="../../../../assets/icons/Add.svg" />
    <div class="add-new-text">Add Another Accessories</div>
  </div>
</div>
