<div class="Accessories-Section">
  <div class="form-fields">
    <app-accessories-search-box class="sbox"
                                [label]="'Accessories'"
                                [placeholder]="'Select Accessories'"
                                [AccessoryOptions]="AccessoryOptions"
                                [assignAssetForm]="assignAssetForm"
                                (AccessoryOptionSelected)="AccessorySearchBoxOptionSelected($event)">
    </app-accessories-search-box>
    <div class="comment-subheading">Comment</div>
    <input class="comment-input-box"
           required
           placeholder="Add Comment"
           [value]="selectedOption"
           aria-label="Comment"
           (input)="onInputChangeCommentBox($event)">
  </div>
  <div class="Add-new">
    <img class="add-img" src="../../../../assets/icons/Add.svg" />
    <div class="add-new-text">Add Another Accessories</div>
  </div>
</div>
