
<!-- Modal -->
<app-exit-process></app-exit-process>
<div class="modal main fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <img class="top-image" src="../../../assets/icons/redVector.svg" />
      <p class="text">
        You are initiating the exit process<br />         for ‘Marvin McKinney'.<br />
        Are you sure?<br />
      </p>
      <div class="buttons">
        <div class="button1">No</div>
        <div class="button2"  data-bs-toggle="modal"  data-bs-target="#exitProcessModal" >Yes,Initiate</div>
      </div>
    </div>
  </div>
</div>
