<div class="permissions-panel-container">
  <div class="permissions-panel-header ">
    <div class="admin-name">
      <ngx-avatars name="{{ selectedAdmin?.firstName }} {{ selectedAdmin?.lastName }}" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="35"></ngx-avatars>
      <div class="admin-name-id">
        <span class="name">{{ selectedAdmin?.firstName }} {{ selectedAdmin?.lastName }}</span>
        <span class="id">{{ selectedAdmin?.cgiid }}</span>
      </div>
    </div>
    <div class="filter">
      <div class="filter-icon">
        <img src="../../../assets/icons/activity-filter.svg" />
        <span class="filter-text">Filter</span>

      </div>
      <!--<div class="selected-date">
        <div class="selected-date-text">
    Select Date
    <img src="../../../assets/icons/calendar.svg" />

  </div>

      </div>-->
      <div class="purchase-date-section">
        <!--<label for="purchaseDate" class="purchaseDate">Date of Purchase <span class="required">*</span></label>-->
          <input #filterInput type="date" class="form-control" id="purchaseDate" name="purchaseDate" formControlName="purchasedOn" placeholder="15-12-2023" (focus)="toggleInputTypeTo('date')" (change)="toggleInputTypeTo('text')" (change)="toggleCheckboxTo(filterInput.value)">
        <!--<img src="../../../assets/icons/calendar.svg" />-->
      </div>
    </div>
 </div>
  <div class="filtersection">
    <div class="logs-details" *ngFor="let logEntry of admindata">
      <div class="date">
        <img src="../../../assets/icons/calendar.svg" />
        <span class="date-text">{{ logEntry.updatedDate | date: 'dd-MM-yyyy' }}</span>
      </div>
      <div class="log"*ngFor="let log of logEntry.logs">
        <div class="detail-section">
          <span class="time">{{ log.updatedOn | date: 'hh:mm a' }}</span>
          <span class="detail">
            <span class="cyg-name">{{log.cygid}}</span> has been
            <span *ngIf="log.action === 'create'">created</span>
            <span *ngIf="log.action === 'update'">updated</span>
            <span *ngIf="log.action === 'delete'">deleted</span>
            by <span class="cyg-name">{{ log.updatedBy }}</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
