<div class="add-monitor-outer-container">
  <div class="add-monitor-header">
    <span>Add Monitor</span>
  </div>
  <div class="add-mouse-content overflow-auto">
    <div class="stepper-container">
      <div class="stepper-stepper">
        <div class="stepper-stepper1">

          <img *ngIf="currentStep === 1" src="../../../assets/icons/monitor-blue.svg" />
          <img *ngIf="currentStep === 2 || currentStep===3" src="../../../assets/icons/completed.svg" />
          <span class="stepper-text"><span>Monitor Detail</span></span>
        </div>
        <img src="../../../assets/icons/Vector 16 (Stroke).svg" />
        <div class="stepper-stepper2">
          <img *ngIf="currentStep === 1" src="../../../assets/icons/serial Number.svg" />
          <img *ngIf="currentStep === 2" src="../../../assets/icons/DeviceId_blue.svg" />
          <span class="stepper-text2"><span>Device ID</span></span>
        </div>
      </div>
    </div>
    <form>
      <div *ngIf="currentStep === 1">
        <div>
          <div class="mouse-radio-button">
            <label class="mouse-label">Display Port Type<span class="required">*</span></label>
            <div class="add-device-check" >
              <input class="form-check-input" type="checkbox" id="addDetailsCheckbox" >

              <label class="form-check-label" for="addDetailsCheckbox">
                <img *ngIf="ifChecked == false" src="../../../assets/icons/checkbox-unchecked.svg" />
                <img *ngIf="ifChecked == true" src="../../../assets/icons/checkbox-checked.svg" />
                <span>Add New Device Details</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
 
</div>
