<div class="assign-history-card">
  <div class="current-user">
    <span class="current-user-text">current User</span>
  </div>
  <div class="username-cgiid st" >
    <div class="username-avatar">
      <ngx-avatars name={{historydata.empName}} [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>

    </div>
    <div class="name-cgiid">
      <span class="username">{{historydata.empName}}</span>
      <span class="cgiid">{{historydata.cygid}}</span>

    </div>
  </div>
  <div class="assigned-name st">
    <div class="assignedby">
      <span class="assignedby-text">Assigned By</span>
      <span class="name-date">
        {{historydata.assignedBy}} <br />
        <p>{{ historydata.assignedDate | date: 'dd-MM-yyyy' }}</p>
      </span>
    </div>
  </div>
</div>
