<div class="assign-history-card">
  <div class="username-cgiid">
    <div class="username-avatar">
      <ngx-avatars name="john" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>

    </div>
    <div class="name-cgiid">
      <span class="username">john</span>
      <span class="cgiid">CGI 001</span>

    </div>
  </div>
  <div class="assigned-name">
    <div class="assignedby">
      <span class="assignedby-text">Assigned By</span>
      <span class="name-date">
        JOHN <br />
        12-10-2023
      </span>
    </div>
  </div>
</div>
