
<div>

  <div class="comment-card ">
      <div class="status-outer"  *ngIf="!historydata.recievedBy">
        <div class="status" >
          Current User
        </div>
      </div>



    <div class="user-details">
      <div class="user">
        <ngx-avatars name={{historydata.empName}} [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="31" style="text-align: center; border-radius: 100%; text-transform: uppercase; color: rgb(38, 79, 157); background-color: rgb(184, 221, 225); font: 11px / 31px Roboto; font-weight: 500; font-size: 0.8rem;"></ngx-avatars>
        <div class="user-name">
          <span class="name">
            {{historydata.empName}}
          </span>
          <span class="cgy">
            {{historydata.cygid}}
          </span>

        </div>
      </div>


    </div>

    <div class="inner-info d-flex">
      <div class="info ">
        <span>Assigned By</span>
        <div class="info-text ">
          <span>

            {{historydata.assignedBy}}
          </span>
          <div>
            {{ historydata.assignedDate | date: 'dd-MM-yyyy' }}
          </div>
        </div>
      </div>
      <div class="info inforight ">
        <span>Recieved By</span>
        <div class="info-text ">
          <!--<span class="inforight">
    {{historydata.recievedBy}}

  </span>-->
          <span class="inforight" *ngIf="historydata.recievedBy !== null">
            {{ historydata.recievedBy }}
          </span>
          <span class="inforightdash" *ngIf="historydata.recievedBy === null">
            --         
          </span>

          <div>
            {{ historydata.recievedDate | date: 'dd-MM-yyyy' }}
          </div>
        </div>
      </div>
    </div>

  </div>


</div>






