<div class="permissions-panel-container">
  <div class="permissions-panel-header">
    <div class="admin-name">
      <ngx-avatars name="John Doe" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="35"></ngx-avatars>
      <div class="admin-name-id">
        <span class="name">John Doe</span>
        <span class="id">CGI 001</span>
      </div>
    </div>
    <div class="status-toggle">
      <span>Status</span>
      <div class="form-check form-switch toggle-input">
        <input class="form-check-input" type="checkbox" checked>
      </div>
    </div>
  </div>
</div>
