<div class="comment-card col-md-12" *ngFor="let device of devicelog" >


  <div class="user-details">
    <div class="user">
      <ngx-avatars name={{device.employeeName}} [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>
      <div class="user-name">
        <span class="name">
          {{device.employeeName}}
        </span>
        <span class="cgy">
          {{device.cgiid}}
        </span>

      </div>
    </div>

    <div class="status">
      Current Device
    </div>
  </div>





  <div class="inner-info col-md-12 d-flex">
    <div class="info col-md-7">
      <span>Assigned By</span>
      <div class="info-text col-6">
        <div class="vals">

         {{device.assignedBy}}
        </div>
        <div class="vals">
          {{device.formattedAssignedDate}}
        </div>
      </div>
    </div>
    <div class="info inforight col-md-5 ">
      <span>Recieved By</span>
      <div class="info-text ">
        <span class="inforight vals">
          {{device.recievedBy}}

        </span>
      </div>
    </div>
  </div>
  <app-comments></app-comments>
</div>




