<div *ngIf="devicelog && devicelog.length > 0">
  <div class="comment-card col-md-12" *ngFor="let device of devicelog; let i = index">
   

      <div class="user-details">
        <div class="user">
          <ngx-avatars name={{device.employeeName}} [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>
          <div class="user-name">
            <span class="name">
              {{device.employeeName}}
            </span>
            <span class="cgy">
              {{device.cgiid}}
            </span>

          </div>
        </div>

        <div class="status col-md-4 justify-content-end" *ngIf="i === 0">
          <app-currentdevice></app-currentdevice>
        </div>
      </div>

      <div class="inner-info col-md-12 d-flex">
        <div class="info col-md-7">
          <span>Assigned By</span>
          <div class="info-text col-5 ">
            <span>

              {{device.assignedBy}}
            </span>
            <div>
              {{device.formattedAssignedDate}}
            </div>
          </div>
        </div>
        <div class="info inforight col-md-5 ">
          <span>Recieved By</span>
          <div class="info-text ">
            <span class="inforight">
              {{device.recievedBy}}

            </span>
          </div>
        </div>
      </div>
      <app-comments [userId]="device.userId" [deviceId]="device.deviceId" [deviceLogId]="device.id" [commentLength]="device.comments.length" [comment]="device.comments"></app-comments>
    
  </div>
</div>


<div *ngIf="!devicelog || devicelog.length === 0">
  <div class="no-assign-history">
    No Assign History
  </div>
</div>






