<div class="comment-card col-md-12">


  <div class="user-details">
    <div class="user">
      <ngx-avatars name="Cameron Williamson" [textSizeRatio]=2.7 bgColor=#b8dde1 fgColor=#264f9d [round]="true" size="33"></ngx-avatars>
      <div class="user-name">
        <span class="name">
          Cameron Williamson
        </span>
        <span class="cgy">
          CGI 098
        </span>

      </div>
    </div>

    <div class="status">
      Current Device
    </div>
  </div>





  <div class="inner-info col-md-12 d-flex">
    <div class="info col-md-7">
      <span>Assigned By</span>
      <div class="info-text col-3">
        <span>
          John Doe

        </span>
        <span>
          10-1-24
        </span>
      </div>
    </div>
    <div class="info inforight col-md-5 ">
      <span>Assigned By</span>
      <div class="info-text ">
        <span class="inforight">
          --

        </span>
      </div>
    </div>
  </div>
  
</div>




