.Asset {
  border-radius: 4px;
  border: 1px solid var(--Secondary-Light-Gray, #E9ECEB);
  background: var(--Primary-White, #FFF);
  display: flex;
height: 7.625rem;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
flex: 1 0 0;
width:23.0rem;

}

@media (max-width: 1024px) {
  .Asset {
    width: 16.84375rem;
  }
}

@media (min-width: 1440px) {
  .Asset {
    width: 25.5rem;
  }
}

@media (min-width: 2560px) {
  .Asset {
    width: 28.5rem;
  }
}

.Type {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.Heading {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
}

.windows-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.number {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.stock-section {
  padding-bottom: 8px;
}



.Assigned-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Assigned-number {
  color: var(--Primary-Gray, #343435);
  text-align: left;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.Inventory-text {
  color: var(--Primary-Gray, #343435);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align:right;
}


.round {
    width: 2.25rem;
  height: 2.25rem;
  flex-shrink: 0;
  border-radius: 0.42856rem;
  background: #F5F7FA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inventory-number {
  color: var(--Primary-Gray, #343435);
  text-align: right;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
 
}



.lowstock-container {
  display: flex;
  align-items: center;
  margin-left:25px ;
}

.lowstock {
  display: flex;
  height: 1.75rem;
  padding: 0.4375rem 0.625rem;
  align-items: flex-start;
  gap: 0.625rem;
  border-radius: 0.125rem;
  background: #FFE8E8;
  
}

.lowstocktext {
  color: #CC1A07;
  text-align: right;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.inventory{
    text-align:right;
}


.inventorylowstocktext {
  color: #CC1A07;
  text-align: right;
  font-family: Roboto;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
