<div class="container-fluid Asset ms-0 me-0 p-0 st">
  <div class="Type row">
    <div class="Heading">
      <div class="Heading">
        <div class="round">
          <img [src]="getIconPath(primaryData.name)" />
        </div>

        <span class="windows-text">{{primaryData.name}}</span>
      </div>
      <!--<span class="number">{{primaryData.total}}</span>-->
    <span class="number">
      {{ selectedLocation === 'India' ? primaryData.totalIndia : primaryData.totalUSA }}
    </span>

    </div>
    <div class="container-fluid">
      <div class="stock-section row">
        <div class="col-6 Assigned">
          <img src="../../../assets/icons/dashboard/icon.svg" />
          <span class="Assigned-text">&nbsp;Assigned</span>
          <div class="Assigned-number">
            {{ selectedLocation === 'India' ? primaryData.assignedIndia : primaryData.assignedUSA }}
          </div>
        </div>
        <div class="col-6 inventory">
          <img src="../../../assets/icons/dashboard/Check mark.svg" />
          <span class="Inventory-text"> Inventory</span>
          <!--<div class="Inventory-number">{{primaryData.total - primaryData.assigned}}</div>-->
          <div class="lowstock-container me-0">
            <div class="lowstock ms-auto" *ngIf="(primaryData.totalIndia - primaryData.assignedIndia) < 1 && selectedLocation === 'India'; ">
              <div class="lowstocktext">Low in Stock</div>
            </div>

            <div *ngIf="selectedLocation === 'India'; else noTotalText" class="Inventory-number ms-auto p-0" [ngClass]="{'inventorylowstocktext': (primaryData.totalIndia - primaryData.assignedIndia) < 1}">
              {{ primaryData.totalIndia - primaryData.assignedIndia }}
            </div>

            <ng-template #noTotalText>
              <div class="lowstock ms-auto" *ngIf="(primaryData.totalUSA - primaryData.assignedUSA) < 1">
                <div class="lowstocktext">Low in Stock</div>
              </div>

              <div class="Inventory-number ms-auto p-0" [ngClass]="{'inventorylowstocktext': (primaryData.totalUSA - primaryData.assignedUSA) < 1}">
                {{ primaryData.totalUSA - primaryData.assignedUSA }}
              </div>
            </ng-template>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
